<section class="navbar navbar-inverse" data-ng-controller="HeaderController" ng-hide="hideNav">
	<div class="container" >
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
				<span class="sr-only">Toggle navigation</span>
				<span>{{ 'MENU_BTN' | translate }}</span>
			</button>
			<a href="https://www.tellform.com/#!/" class="navbar-brand">
				<img src="/static/modules/core/img/logo_white.svg" height="100%">
			</a>
		</div>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
			<ul class="nav navbar-nav" data-ng-if="authentication.isAuthenticated()">
				<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.isAuthenticated());" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
					<a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
						<span data-ng-bind="item.title"></span>
						<b class="caret"></b>
					</a>
					<ul ng-switch-when="dropdown" class="dropdown-menu">
						<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.isAuthenticated());" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
							<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
						</li>
					</ul>
					<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.isAuthenticated()">
				<li ng-hide="$root.signupDisabled" ui-route="/signup" ng-class="{active: $uiRoute}">
					<a href="/#!/signup">{{ 'SIGNUP_TAB' | translate }}</a>
				</li>
				<li class="divider-vertical"></li>
				<li ui-route="/signin" ng-class="{active: $uiRoute}">
					<a href="/#!/signin">{{ 'SIGNIN_TAB' | translate }}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.isAuthenticated()">
				<li class="dropdown" uib-dropdown>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
						<span>{{ 'MY_SETTINGS' | translate }}</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/#!/settings/profile">{{ 'EDIT_PROFILE' | translate }}</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/#!/settings/password"> {{ 'CHANGE_PASSWORD' | translate }}</a>
						</li>
					</ul>
				</li>
				<li>
					<a href='/' ng-click="signout()">{{ 'SIGNOUT_TAB' | translate }}</a>
				</li>
			</ul>
		</nav>
	</div>
</section>
