<section class="navbar navbar-inverse" data-ng-controller="HeaderController" ng-hide="hideNav">
	<div class="container" >
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
				<span class="sr-only">Toggle navigation</span>
				<span>{{ 'MENU_BTN' | translate }}</span>
			</button>
			<a href="/#!/" class="navbar-brand">
				<img src="/static/modules/core/img/logo_white.svg" height="100%">
			</a>
		</div>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
			<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.isAuthenticated()">
				<li ng-hide="$root.signupDisabled" ui-route="/signup" ng-class="{active: $uiRoute}">
					<a href="/#!/signup">{{ 'SIGNUP_TAB' | translate }}</a>
				</li>
				<li class="divider-vertical"></li>
				<li ui-route="/signin" ng-class="{active: $uiRoute}">
					<a href="/#!/signin">{{ 'SIGNIN_TAB' | translate }}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.isAuthenticated()">
				<li class="dropdown" uib-dropdown>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
						<span>{{ 'MY_SETTINGS' | translate }}</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/#!/settings/profile">{{ 'EDIT_PROFILE' | translate }}</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/#!/settings/password"> {{ 'CHANGE_PASSWORD' | translate }}</a>
						</li>
					</ul>
				</li>
				<li>
					<a href='/' ng-click="signout()">{{ 'SIGNOUT_TAB' | translate }}</a>
				</li>
			</ul>
		</nav>
	</div>
</section>
