<section class="navbar navbar-inverse" data-ng-controller="HeaderController" ng-hide="hideNav">
	<div class="container" >
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
				<span class="sr-only">Toggle navigation</span>
				<i class="glyphicon glyphicon-menu-hamburger"></i>
			</button>
			<a href="/#!/" class="navbar-brand">
				<img src="/static/modules/core/img/logo-inverse.svg" height="100%">
			</a>
		</div>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
			<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.isAuthenticated()">
				<li ui-route="/signin" ng-class="{active: $uiRoute}">
					<a href="/#!/signin">{{ 'SIGNIN_TAB' | translate }}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.isAuthenticated()">
				<li>
					<a href="/#!/settings/account">{{ 'MY_ACCOUNT' | translate }}</a>
				</li>
				<li>
					<a href='/' ng-click="signout()">{{ 'SIGNOUT_TAB' | translate }}</a>
				</li>
			</ul>
		</nav>
	</div>
</section>
