<section data-ng-controller="HomeController" class="hero-section">

	<div class="jumbotron text-center">
		<div class="opacity-background">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
					<!-- <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" /> -->
				</div>
			</div>
			<br>
			<div class="row" data-ng-if="!authentication.isAuthenticated()">
				<p class="lead">
					Make beautiful forms in a snap.
				</p>
				<br><br> <br><br>
				<a class="btn btn-info" href="/#!/signup">
					Signup now
				</a>

			</div>
		</div>
	</div>

	<br>Enjoy &amp; Keep Us Updated,
	<br>The MedForms Team.
</section>
