<section data-ng-controller="HomeController" class="hero-section" style="overflow:hidden;">
	<div class="opacity-background">
	</div>
	<div class="image-background">
	</div>
	<div class="jumbotron text-center">
		<div class="container" data-ng-if="!authentication.isAuthenticated()">
			<div class="row text-center logo" style="border-bottom: 1px solid rgba(255,255,255,.2); margin-bottom: 30px;">
				<h3 class="col-xs-12" style="color: #FA787E; margin-bottom:0px">
					<i class="fa fa-archive fa-3x"></i>
				</h3>
				<h2 class="col-xs-12"  style="margin-top:0px">
					<span style="color: #FA787E">Tell<span style="text-decoration: underline;">Forms</span></span>
				</h2>
			</div>
			<div class="row" style="margin-top:0px">
				<h1 class="lead col-md-10 col-md-offset-1 hidden-xs hidden-sm" style="font-size:3.8em;">
					Craft beautiful forms in seconds.
				</h1>

				<h2 class="lead col-sm-12 text-center hidden-md hidden-lg" style="font-size:2.8em;">
					Craft beautiful forms.
				</h2>

				<p class="lead hidden-xs hidden-sm col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="font-size:1.5em; color:rgba(255,255,255,.75)">
					<i>TellForm is an opensource <b>alternative to TypeForm </b> that can create stunning forms from PDFs or from scratch</i>
				</p>

				<p class="lead col-xs-12 hidden-md hidden-lg" style="font-size:1.5em; color:rgba(255,255,255,.75)">
					<i>TellForm is an opensource <b>alternative to TypeForm </b> that can create stunning forms from PDFs or from scratch</i>
				</h1>

			</div>
			
			<div class="row" style="margin-top:7%;">
				<a class="col-xs-4 col-xs-offset-4 btn btn-info signup-btn" href="/#!/signup" style="background-color:#FA787E; border: none; font-size: 2em; padding: 0.3em 0.9em; color: white;">
					sign me up!
				</a>
			</div>
		</div>
	</div>
</section>
