<section class="auth signup-view valign-wrapper" data-ng-controller="AuthenticationController" ng-init="getAgencies()">
	<div class="valign">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 authen-wrapper">
			<div class="col-md-12 text-center" style="padding-bottom: 50px;">
				<img src="/static/modules/core/img/logo-full.svg" height="100px">
			</div>
			<div class="col-xs-12">
				<form ng-if="agencies" name="userForm" data-ng-submit="signup()" class="signup form-horizontal" autocomplete="off">
					<fieldset>
						<div data-ng-show="error" id="signup_errors" class="text-center text-danger">
							{{'SIGNUP_ERROR_TEXT' | translate}}: <br>
							<strong data-ng-bind="error"></strong>
						</div>
						<div class="form-group">
							<label for="agency">{{ 'AGENCY_LABEL' | translate }}</label>
							<ui-select theme="selectize"
												 search-enabled="true"
												 ng-model="credentials.agency"
												 ng-required="true"
												 ng-change="credentials.emailDomain = ''">
								<ui-select-match class="public-form" placeholder="{{ 'TYPE_OR_SELECT_AGENCY' | translate }}">
									{{ $select.selected.fullName }}
								</ui-select-match>
								<ui-select-choices repeat="agency in (agencies | filter: $select.search) track by agency._id">
									<span ng-bind-html="agency.fullName | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
						</div>
						<div class="form-group email">
							<div class="col-md-6 col-xs-12 email-name">
								<label for="email">{{ 'EMAIL_LABEL' | translate }}</label>
								<input type="text" id="email" name="email" class="form-control" ng-model="credentials.emailName" pattern="[A-Za-z0-9-_.]+"
								title="Special characters are not allowed." ng-required="true" --disable-ignore-autocomplete-off autocomplete="off">
							</div>
							<div class="col-md-6 col-xs-12">
								 <div class="input-group email-domain">
										<span class="input-group-btn">
						 					<button disabled>@</button>
						 				</span>
									  <ui-select theme="selectize"
															search-enabled="true"
									 						ng-model="credentials.emailDomain"
															ng-required="true"
															ng-disabled="!credentials.agency">
		 								<ui-select-match class="public-form">
		 									{{ $select.selected }}
		 								</ui-select-match>
		 								<ui-select-choices repeat="emailDomain in credentials.agency.emailDomain">
		 									<span ng-bind-html="emailDomain"></span>
		 								</ui-select-choices>
		 							</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password">{{ 'PASSWORD_LABEL' | translate }}</label>
							<input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" ng-minlength="4" ng-required="true" autocomplete="new-password">
						</div>

						<div class="text-center form-group">
							<button type="submit" class="btn btn-signup btn-rounded btn-block" ng-disabled="((!credentials.emailDomain)||(button_clicked)||(!credentials.password)|| (!credentials.emailName) )" ng-click="preProcessForm()">
							<span ng-show="button_clicked"><i class="glyphicon glyphicon-refresh spinning"></i></span>
							{{ 'SIGNUP_BTN' | translate }} </button>
						</div>
					</fieldset>
				</form>

				<div class="text-center forgot-password">
					<a ui-sref="signin">{{ 'SIGN_IN_ACCOUNT_LINK' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
</section>
