<section class="auth sigin-view valign-wrapper" data-ng-controller="AuthenticationController">

	<div class="valign">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 authen-wrapper">
			<div class="col-md-12 text-center" style="padding-bottom: 50px;">
				<img src="/static/modules/core/img/logo-full.svg" height="100px">
			</div>
			<div class="col-md-12">
				<form class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div data-ng-show="error" class="text-center text-danger">
							Error: <strong data-ng-bind="error"></strong>
						</div>
						<div class="form-group">
							<label for="username">{{ 'EMAIL_LABEL' | translate }}</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" ng-minlength="4">
						</div>
						<div class="form-group">
							<label for="password">{{ 'PASSWORD_LABEL' | translate }}</label>
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" ng-minlength="4">
						</div>
						<div class="form-group">
							<button class="btn btn-signup btn-rounded btn-block" ng-click="signin()" ng-disabled="button_clicked">
							<span ng-show="button_clicked"><i class="glyphicon glyphicon-refresh spinning"></i></span>
							{{ 'SIGNIN_BTN' | translate }}</button>
						</div>
						<div class="text-center forgot-password">
							<a ui-sref="forgot">{{ 'FORGOT_PASSWORD_LINK' | translate }}</a>
						</div>

					</fieldset>
				</form>
			</div>
			<div class="text-center forgot-password col-md-12">
				<a ui-sref="signup">{{ 'SIGNUP_ACCOUNT_LINK' | translate }}</a>
			</div>
		</div>
	</div>
</section>
