<section class="auth signup-view valign-wrapper" data-ng-controller="AuthenticationController">
	<div class="valign">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
			<h3>{{ 'SUCCESS_TEXT' | translate }}</h3>		
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
			<strong>{{ 'BEFORE_YOU_CONTINUE' | translate }} <a href="mail:leonard@data.gov.sg ">leonard@data.gov.sg</a>.</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
			<input type="button" class="btn btn-rounded btn-default btn-block ng-binding" onclick="location.href='/#!/verify';" value="{{ 'REVERIFY_ACCOUNT_LINK' | translate }}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
			<input type="button" class="btn btn-rounded btn-signup btn-block btn-no-top ng-binding" onclick="location.href='/#!/';" value="{{ 'SIGNIN_BTN' | translate }}">
		</div>
	</div>
	</div>
</section>
