input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-item .title-row > .list-group-item-heading {
	color: #34628a;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 30px;
	padding-bottom: 5px;
}
.form-item .title-row > div[uib-tooltip-popup] {
	word-wrap: break-word;
}

.form-item:hover .title-row > .list-group-item-heading {
        color: white;
}

.form-item:hover .title-row {
	text-decoration:none;
}

.form-item.paused .title-row > .list-group-item-heading {
	color: white;
}

body {
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	background: #d4e7ff;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

/* Custom CSS for Buttons */
.btn-rounded {
	border-radius: 100px;
	font-size: 14px;
	padding: 10px 28px;
	margin: 0 2px;
	margin-top: 1em;
	text-transform: uppercase;
	text-decoration: none!important;
}

.btn-secondary {
	background: #DDDDDD;
	color: #4c4c4c;
	border: 2px #4c4c4c solid;
}
.btn-secondary:hover {
	background: #cacaca;
	border-color: #cacaca;
}

/*Navbar Custom CSS*/
.navbar {
	min-height: 60px;
	padding: 10px 0 10px 0;
	margin-bottom: 0;
}
.navbar-inverse {
	background: #283c86;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 0;
  color: white!important;
	border-radius: 0;
}

.navbar-collapse {
	border-style:none;
}

@media only screen and (min-width: 500px) {
	.navbar .navbar-brand {
		min-height: 70px;
	}
}

.navbar .navbar-brand {
	padding: 10px;
	margin-left: 10px;
}

.navbar-nav {
	min-height: 60px;
}

.navbar-nav > li {

	min-height: 60px;
}
.navbar-nav > li > a {
	padding-top: 20px;
	color: white;
}
.navbar-nav > li:hover, .navbar-nav > li.active {
	background-color: #4b7096;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: inherit;
	border: none;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar li.dropdown a.dropdown-toggle:hover > *{
	color: #fff;
}
.navbar-inverse .navbar-toggle {
	border:none;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.dropdown-menu>li>a {
	color: #515151;
}

/*Hero Section CSS (for /home)*/
section.hero-section {
	width: 100%;
}
section.hero-section .jumbotron {
	background-color: transparent;
	color:#fff;
}
	.image-background {
	 	position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -98;
        background-image: url(http://yourplaceandmine.ie/wp-content/uploads/2014/09/Daingean-meeting-048_13-1080x675.jpg);
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: cover;
	}

	.opacity-background {
	 	position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.5);
        z-index: -97;
	}

	section.hero-section .jumbotron .signup-btn {
		background-color:#FA787E;
		border: none;
		font-size: 2em;
		padding: 0.3em 0.9em;
		color: white;
	}

/* form control */
input.form-control,
textarea.form-control,
.selectize-input {
	height: inherit;
	padding: 13px 10px !important;
	font-size: inherit;
}

/* dropdown */
.selectize-input {
	color: #555;
	border-color: #ccc;
	border-radius: 4px;
	line-height: 1.42857143;
}
.ui-select-match,
input.ui-select-search {
	height: 100%;
	font-size: inherit;
	width: calc(100% - 20px) !important;
}
.selectize-dropdown-content {
	max-height: 220px;
}
.ui-select-choices-row-inner[data-selectable] {
	border-radius: 4px;
	margin: 5px;
	padding: 10px;
	background-color: rgba(0,0,0,0.05);
}

/* Input group */
.input-group-btn {
  font-size: initial;
  vertical-align: top;
}
.input-group-btn button {
	border: 1px solid #ccc;
	border-radius: 4px;
}
form .input-group-btn button {
  padding: 13px;
}
.input-group .input-group-btn:last-child button,
.input-group .ui-select-container:last-child .selectize-input {
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.input-group .input-group-btn:first-child button,
.input-group .ui-select-container:first-child .selectize-input {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}


input:not(.ui-select-search).ng-valid:not(:focus){
  border: 1px solid #ccc;
}
input:not(.ui-select-search).ng-invalid.ng-dirty{
	border: 1px solid #FA787E;
}
input:not(.ui-select-search).ng-invalid.ng-dirty:focus {
  border: 1px solid #FA787E !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 120, 126,.6)
}

input:not(.ui-select-search).ng-valid.ng-dirty:focus {
  border: 1px solid #66afe9 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
    pointer-events: auto;
}
