
.form-item .title-row > .list-group-item-heading {
	color: #34628a;
}

.form-item:hover .title-row > .list-group-item-heading {
        color: white;
}

.form-item:hover .title-row {
	text-decoration:none;
}

.form-item.paused .title-row > .list-group-item-heading {
	color: white;
}

body {
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

/* Custom CSS for Buttons */
.btn-rounded {
	border-radius: 100px;
	font-size: 14px;
	padding: 10px 28px;
	margin: 0 2px;
	margin-top: 1em;
	text-transform: uppercase;
	text-decoration: none!important;
}

.btn-secondary {
	background: #DDDDDD;
	color: #4c4c4c;
	border: 2px #4c4c4c solid;
}
.btn-secondary:hover {
	background: #cacaca;
	border-color: #cacaca;
}

/*Navbar Custom CSS*/
.navbar {
	min-height: 60px;
	padding: 10px 0 10px 0;
}
.navbar-inverse {
	background-color:#3FA2F7;
	border: 0;
	color: white!important;
}
.navbar .navbar-brand {
	min-height: 60px;
	padding: 10px;
}

.navbar-nav {
	min-height: 60px;
}

.navbar-nav > li {

	min-height: 60px;
}
.navbar-nav > li > a {
	padding-top: 20px;
	color: white;
}
.navbar-nav > li:hover, .navbar-nav > li.active {
	background-color: #4b7096;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: inherit;
	border: none;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar li.dropdown a.dropdown-toggle:hover > *{
	color: #f9f9f9;
}
.navbar-inverse .navbar-toggle {
	border:none;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.dropdown-menu>li>a {
	color: #515151;
}

/*Hero Section CSS (for /home)*/
section.hero-section {
	width: 100%;
}
section.hero-section .jumbotron {
	background-color: transparent;
	color:#fff;
}
	.image-background {
	 	position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -98;
        background-image: url(http://yourplaceandmine.ie/wp-content/uploads/2014/09/Daingean-meeting-048_13-1080x675.jpg);
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: cover;
	}

	.opacity-background {
	 	position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.5);
        z-index: -97;
	}

	section.hero-section .jumbotron .signup-btn {
		background-color:#FA787E; 
		border: none; 
		font-size: 2em; 
		padding: 0.3em 0.9em; 
		color: white;
	}

