<section class="auth row" data-ng-controller="PasswordController">
	<h3 class="col-md-12 text-center">{{ 'PASSWORD_RESTORE_HEADER' | translate }}</h3>
	<p class="small text-center">{{ 'ENTER_YOUR_EMAIL' | translate }}</p>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
		<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{ 'USERNAME_LABEL' | translate }}">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">{{ 'UPDATE_PASSWORD_LABEL' | translate }}</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
