<section class="auth valign-wrapper" data-ng-controller="PasswordController">
	<div class="valign">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 authen-wrapper">
			<div class="col-md-12">
				<div class="col-md-12 text-center" style="padding-bottom: 50px;">
					<img src="/static/modules/core/img/logo-full.svg" height="100px">
				</div>
				<div class="col-md-12">
					<form data-ng-submit="askForPasswordReset()" autocomplete="off">
						<fieldset>
							<div class="form-group">
								<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{ 'USERNAME_OR_EMAIL_LABEL' | translate }}">
							</div>
							<div class="text-center form-group">
								<button type="submit" class="btn btn-signup btn-rounded btn-block">{{ 'PASSWORD_RESTORE_HEADER' | translate }}</button>
							</div>
							<div data-ng-show="error" class="text-center text-danger">
								<strong>{{error}}</strong>
							</div>
							<div data-ng-show="success" class="text-center text-success">
								<strong>{{success}}</strong>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
