<section class="container admin-form" cg-busy="{promise:updatePromise,templateUrl:'modules/forms/views/directiveViews/cgBusy/update-form-message-TypeB.html',message:'Updating form...',backdrop:false,minDuration:700}">

	<!-- Modal Delete Dialog Template -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h2 class="modal-title hidden-md hidden-lg">Are you ABSOLUTELY sure?</h2>
            <h3 class="modal-title hidden-xs hidden-sm">Are you ABSOLUTELY sure?</h3>
        </div>
        <div class="modal-body">
        	<div class="modal-body-alert">
			    Unexpected bad things will happen if you don’t read this!
			</div>
       		<p class="hidden-xs hidden-sm">
       		 	This action <strong>CANNOT</strong> be undone.This will permanently delete the <strong>{{myform.title}}</strong> form, form submissions and remove all associated pdfs.
       		</p>
            <p>Please type in the name of the form to confirm.</p>
        </div>
        <div class="modal-footer">
	        <p>
				<input type="text" data-ng-model="deleteConfirm" class="input-block" autofocus required aria-label="Type in the name of the form to confirm that you want to delete this form.">
			</p>
            <button type="submit" ng-click="removeCurrentForm()" class="btn btn-block btn-danger" ng-disabled="myform.title != deleteConfirm">
            	I understand the consequences, delete this form
            </button>
        </div>
    </script>

	<div class="page-header row" style="padding-bottom: 0px;">
		<div class="col-xs-10 col-sm-8">
			<h1 class="hidden-sm hidden-xs" data-ng-bind="myform.title" style="margin-bottom: 0px;"></h1>
			<h2 class="hidden-md hidden-lg" data-ng-bind="myform.title" style="margin-bottom: 0px;"></h2>
		</div>
		<div class="col-xs-1 col-sm-2">
			<small class="pull-right">			
				<button class="btn btn-danger" ng-click="openDeleteModal()">
					<i class="fa fa-trash-o"></i>
					<span class="hidden-xs">Delete</span>
					<span class="hidden-xs hidden-sm">Form</span>
				</button>
			</small>
		</div>
		<div class="col-xs-1 col-sm-2">
			<small class="pull-right">			
				<a class="btn btn-default view-form-btn" href="/#!/forms/{{myform._id}}">
					<span class="hidden-xs hidden-sm">
						View
						<span ng-show="myform.isLive">
							Live
						</span> 
						<span ng-hide="myform.isLive">Preview</span> Form
					</span>
					<span class="hidden-xs hidden-md hidden-lg">
						View
						<span ng-if="myform.isLive">Live</span>
						<span ng-if="!myform.isLive">Preview</span>
					</span>
					<i class="status-light status-light-on fa fa-dot-circle-o" ng-if="myform.isLive"></i>
					<i class="status-light status-light-off fa fa-dot-circle-o" ng-if="!myform.isLive"></i>
				</a>
			</small>
		</div>
	</div>

	<div class="row">
		<tabset class="col-xs-12">
			<tab>
				<tab-heading>
					Edit Form Fields
				</tab-heading>
				<edit-form-directive myform="myform">
				</edit-form-directive>
			</tab>
			<tab disabled="true">
				<tab-heading >
					Edit Design
				</tab-heading>
			</tab>
			<tab>
				<tab-heading>
					Configure
				</tab-heading>
				<configure-form-directive myform="myform" user="user">
				</configure-form-directive>
			</tab>
			<tab>
				<tab-heading>
					View Submissions
				</tab-heading>
				<edit-submissions-form-directive myform="myform" user="user">
				</edit-submissions-form-directive>
			</tab>
		</tabset>
	<!-- 
		<div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation ng-show ng-scope"></div> -->
	<!-- 
		<div class="cg-busy cg-busy-animation cg-busy-default-wrapper">
			<div class="cg-busy-default-sign">
				<div class="cg-busy-default-spinner">
				   <div class="bar1"></div>
				   <div class="bar2"></div>
				   <div class="bar3"></div>
				   <div class="bar4"></div>
				   <div class="bar5"></div>
				   <div class="bar6"></div>
				   <div class="bar7"></div>
				   <div class="bar8"></div>
				   <div class="bar9"></div>
				   <div class="bar10"></div>
				   <div class="bar11"></div>
				   <div class="bar12"></div>
				</div>
				<div class="cg-busy-default-text">Updating form...</div>
			</div>
		</div> -->

	<!-- 		<div class="cg-busy cg-busy-animation cg-busy-default-wrapper">
			<div style="position: absolute; top: 0px; right: 0px;">
				<div class="cg-busy-default-spinner">
				   <div class="bar1"></div>
				   <div class="bar2"></div>
				   <div class="bar3"></div>
				   <div class="bar4"></div>
				   <div class="bar5"></div>
				   <div class="bar6"></div>
				   <div class="bar7"></div>
				   <div class="bar8"></div>
				   <div class="bar9"></div>
				   <div class="bar10"></div>
				   <div class="bar11"></div>
				   <div class="bar12"></div>
				</div>
				<div class="cg-busy-default-text" style="">Updating form...</div>
			</div>
		</div> -->

	<!-- 		<div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation ng-show ng-scope"></div>
		<div class="cg-busy cg-busy-animation">
			<div style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;">

					<div style="text-align: center; font-size: 20px;position: fixed; bottom: 0; left: 45px; background-color: gray; color: white; padding: 5px 15px 5px 10px;">Updating Form...</div>

			</div>
		</div> -->

	</div>
</section>