<section data-ng-controller="ViewFormController" data-ng-init="findAll()" class="container">
	<div class="row">
		<div class="page-header col-xs-10 col-xs-offset-1">
			<h1>My MedForms</h1>
		</div>
	</div>
	<div class="row">
		<a data-ng-href="#!/forms/create" class="col-xs-2 col-xs-offset-1 form-item row create-new">
			<div class="title-row col-xs-12">
				<h4 class=" fa fa-plus fa-6"></h4>
			</div>
			<div class="col-xs-12 details-row">
				
				<small class="list-group-item-text">
					Create a new form
				</small>

			</div>
			
		</a>
		<a data-ng-repeat="form in forms" data-ng-href="#!/forms/{{form._id}}/admin" class="col-xs-2 col-xs-offset-1 form-item row">
			<div class="title-row col-xs-12">
				<h4 class="list-group-item-heading" data-ng-bind="form.title"></h4>
			</div>
			<div class="col-xs-12 details-row">
				
				<small class="list-group-item-text">
					Created on
					<span data-ng-bind="form.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="form.admin.username"></span>
				</small>

			</div>
			
		</a>
	</div>
<!-- 	<div class="alert alert-warning text-center" data-ng-if="forms.$resolved && !forms.length">
		No forms yet, why don't you <a href="/#!/forms/create">create one</a>?
	</div> -->
</section>