<section data-ng-controller="ViewFormController" data-ng-init="find()">
	<div class="page-header">
		<h1>Forms</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="form in forms" data-ng-href="#!/forms/{{form._id}}/admin" class="list-group-item">
			<small class="list-group-item-text">
				Created on
				<span data-ng-bind="form.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="form.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="form.title"></h4>
			
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="forms.$resolved && !forms.length">
		No forms yet, why don't you <a href="/#!/forms/create">create one</a>?
	</div>
</section>