<section data-ng-controller="ViewFormController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="form.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == form.user._id">
		<a class="btn btn-primary" href="/#!/forms/{{form._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		<a class="btn btn-primary" href="/#!/forms/{{form._id}}">
			View Public Form
		</a>
		<a class="btn btn-primary" href="/#!/forms/{{form._id}}/submissions">
			View Form Submissions
		</a>
	</div>
	<div class="row">
		<span class="col-md-5" data-ng-bind="form"></span>
	</div>
	<small>
		<em class="text-muted">
			Created on 
			<span data-ng-bind="form.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="form.admin.displayName"></span>
		</em>
	</small>
	<!-- <p class="lead" data-ng-bind="form.content"></p> -->
</section>