<section data-ng-controller="ViewFormController" data-ng-init="findOne()" class="container admin-form">
	<div class="page-header row" style="padding-bottom: 0px;">
		<div class="col-xs-6">
			<h1 data-ng-bind="myform.title" style="margin-bottom: 0px;"></h1>
		</div>
		<div class="col-xs-2 col-xs-offset-2">
			<small class=" pull-right">			
				<button class="btn btn-danger" ng-click="remove()"><i class="fa fa-trash-o"></i> Delete Form</button>
			</small>
		</div>
		<div class="col-xs-2">
			<small class=" pull-right">			
				<a class="btn btn-default" href="/#!/forms/{{form._id}}">
					<span ng-show="myform.isLive">View Live</span> <span ng-hide="myform.isLive">Preview</span> Form
					<i class="status-light status-light-on fa fa-dot-circle-o" ng-show="myform.isLive"></i>
					<i class="status-light status-light-off fa fa-dot-circle-o" ng-hide="myform.isLive"></i>
					<!-- <i class="fa fa-sign-out"></i> -->
				</a>
			</small>
		</div>
	</div>

	<div class="row">
	<!-- <div > -->
		<tabset class="col-xs-12">
			<tab>
				<tab-heading>
					Edit Form Fields
				</tab-heading>
				<edit-form-directive myform="myform" user="user"></edit-form-directive>
			</tab>
			<tab disabled="true">
				<tab-heading >
					Edit Design
				</tab-heading>
				<edit-form-directive myform="myform" user="user"></edit-form-directive>
			</tab>
			<tab>
				<tab-heading>
					Configure
				</tab-heading>
				<configure-form-directive myform="myform" user="user"></configure-form-directive>
			</tab>
			<tab data-ng-click="showSubmissions()">
				<tab-heading>
					View Submissions
				</tab-heading>
				<div class="submissions-table" ng-show="viewSubmissions">
					<table class="table table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th>
									<input ng-model="table.masterChecker" ng-change="toggleAllCheckers()" type="checkbox"/>
								</th>
								<th>#</th>
								<th data-ng-repeat="(key, value) in submissions[0].form_fields">
									{{value.title}}
								</th>
								<th>
									Time Elapsed
								</th>
								<th>
									Date Submitted (UTC)
								</th>
								<th ng-if="myform.autofillPDFs">
									Generated PDF
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="row in table.rows" ng-click="rowClicked(row)">
								<td>
									<!-- <input ng-model="row.selected" type="checkbox"/> -->
								</td>
								<th class="scope">{{$index+1}}</th>
								<td data-ng-repeat="(key, value) in row.form_fields">
									{{value.fieldValue}}
								</td>
								<td>
									{{row.timeElapsed}}
								</th>
								<td>
									{{row.created | date:'yyyy-MM-dd HH:mm:ss'}}
								</td>
								<td ng-if="row.pdf">
									<a href="{{row.pdf.path}}">Generated PDF</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
		</tabset>
	<!-- </div> -->
	</div>
<!-- 	<div class="row">
		<div class="col-xs-8">
			<div>
				<edit-form-directive form="form" user="user"></edit-form-directive>
				<p ng-show="form.form_fields.length == 0">No fields added yet.</p>
				</p>
				<accordion class="col-xs-10" close-others="accordion.oneAtATime">
			            <accordion-group heading="{{field.title}} (is a {{field.fieldType}})" ng-repeat="field in form.form_fields">
			            </accordion-group>
			    </accordion>
		    </div>

		</div>

		<div class="col-xs-3 col-xs-offset-1 container text-right form-controls" data-ng-show="authentication.user._id == form.user._id">
			<div class="row">
				<a class="col-xs-12 btn btn-default" href="/#!/forms/{{form._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i> Edit Form
				</a>
			</div>
			<div class="row">
				<a class="col-xs-12 btn btn-danger" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i> Delete Form
				</a>
			</div>
			<div class="row">
				<a class="col-xs-12 btn btn-default" data-ng-click="showSubmissions();" ng-hide="viewSubmissions">
					View Form Submissions
				</a>
				<a class="col-xs-12 btn btn-primary" data-ng-click="hideSubmissions();" ng-show="viewSubmissions">
					Back to Main View
				</a>
			</div>
		</div>
	</div> 
	-->
<!-- 	<div class="row">
		<small class="col-xs-12">
			<em class="text-muted">
				Created on 
				<span data-ng-bind="form.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="form.admin.displayName"></span>
			</em>
		</small>
	</div> -->
	<!-- <p class="lead" data-ng-bind="form.content"></p> -->
</section>