# EditorConfig is awesome: http://EditorConfig.org

# How-to with your editor: http://editorconfig.org/#download

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Standard at: https://github.com/felixge/node-style-guide
[{*.js,*.json}]
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
space_after_control_statements = true
space_after_anonymous_functions = false
spaces_in_brackets = false
