<header data-ng-include="'/static/modules/core/views/header.client.view.html'"></header>

<section data-ng-controller="AdminPanelController as ctrl" class="container">

	<div class="submissions-table container">
		<button class="btn btn-default" ng-click="openEditModal()">Add Row</button>
		<strong>Last Cell Edited:</strong> {{msg.lastCellEdited}}
		<div>
			<div ng-if="gridOptions.data"
			class="grid"
			ui-grid="gridOptions"
			ui-grid-edit 
			ui-grid-cellnav>
		</div>
	</div>
</div>
</section>

<!-- Edit Field Modal Dialog Template -->
<script type="text/ng-template" id="editFieldModal.html" class="edit-field-modal">
	<div class="modal-body">
		<div class="edit-panel col-md-12 col-xs-12 col-sm-12 container">
			<div class="row modal-header">
				<h2 class="modal-title hidden-md hidden-lg">{{ 'EDIT_FIELD' | translate }}</h2>
				<h3 class="modal-title hidden-xs hidden-sm">{{ 'EDIT_FIELD' | translate }}</h3>
			</div>

			<div class="row question">
				
				<div class="col-md-12 bold">{{ 'QUESTION_TITLE' | translate }}</div>
				<div class="col-md-12">
					<input type="text" class="form-control" ng-model="field.fullName" value="{{field.fullName}}" required></div>
				</div>

				<div class="row"><br></div>

				<div class="col-md-12 bold">Short Name</div>
				<div class="col-md-12">
					<input type="text" class="form-control" ng-model="field.shortName" value="{{field.shortName}}" required></div>
				</div>

				<div class="row"><br></div>

				<div class="col-md-12 bold">Email Domain</div>
				<div class="col-md-12">
					<input type="text" class="form-control" ng-model="field.emailDomain" value="{{field.emailDomain}}" required></div>
				</div>

				<div class="row"><br></div>

				<div class="col-md-4 col-xs-12 field-title">Upload Logo</div>
				<div class="col-md-8 col-xs-12 field-input">
					<div class="option-panel">
						<div>
							<label type="button" class="btn btn-primary btn-small">
								<span>{{ 'BROWSE' | translate }}</span>
								<input type="file" on-file-select="loadOptions(currField, files)" curr-field="field"/>
							</label>
							<span><input type="text" ng-model="field.fieldOptionsFile" placeholder="{{ 'SELECT_OPTION_FILE' | translate }}" disabled></span>
						</div>
					</div>
				</div>

			</div>

			<div class="row"><br></div>

			<div class="modal-footer row">
				<button type="submit" ng-click="saveField()" class="btn btn-signup btn-rounded">
					{{ 'SAVE_FIELD' | translate }}
				</button>

				<button ng-click="cancel()" class="btn btn-secondary btn-rounded">
					{{ 'CANCEL' | translate }}
				</button>
			</div>
		</div>
	</div>
</script>
