section.auth {
	padding: 40px 0;
	position: absolute;
	min-height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	color: #393a3c;
	background-color: #50B5C1;
  background: -moz-linear-gradient(90deg,  #50B5C1 0%, #6450A0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50B5C1), color-stop(100%,#6450A0));
  background: -webkit-linear-gradient(90deg,  #50B5C1 0%,#6450A0 100%);
  background: -o-linear-gradient(90deg,  #50B5C1 0%,#6450A0 100%);
  background: -ms-linear-gradient(90deg,  #50B5C1 0%,#6450A0 100%);
}
	section.auth > h3{
		font-size: 2em;
		font-weight: 500;
	}

	.valign-wrapper {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.valign-wrapper .valign {
		display: block;
		width: 100%;
	}

	section.auth a {
		color: #393a3c;
		text-decoration: underline;
	}

	section.auth.signup-view > h3 {
		font-size: 3em;
		padding-bottom: 0.5em;
	}

	section.auth form .field-input select {
		padding: 0.45em 0.9em;
		width: 100%;
		background: transparent;
		font-size: 16px;
		border: 1px solid #ccc;
		min-height: 34px;
	}

	section.auth .btn {
		border-radius: 100px;
		font-size: 14px;
		padding: 12px 28px;
		margin-top: 2em;
		text-transform: uppercase;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	section.auth .btn-no-top {
		margin-top: 10px !important;
	}

	.btn-rounded {
	  min-width: 100px;
	}
	.btn-rounded.btn-signup {
		background-color: #FFD747;
		color: #896D0B;
	}

	.btn-rounded.btn-signup:hover:not([disabled]) {
		color: #FFD747;
		background-color: #896D0B;
	}

	.btn-rounded.btn-default {
		background-color: transparent;
		color: white;
		border: 2px white solid;
	}

	.btn-rounded.btn-default:focus, .btn-rounded.btn-default:hover:not([disabled]) {
		color: #6450A0;
		background-color: white;
		border-color: white;
	}

@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.btn {
	border: 1px solid #acacac;
}

.authen-wrapper {
	background: white;
	padding: 40px 30px;
	border-radius: 10px;
}

.form-group.email > div {
	padding: 0;
}

@media screen and (min-width: 768px) {
	.form-group.email .email-domain {
		margin-top: 27px;
		margin-left: 3px;
	}
}
.form-group.email .email-domain .input-group-btn button {
	background-color: #eee;
	margin-right: -1px;
}
.form-group.email .email-domain .ui-select-match,
.form-group.email .email-domain .ui-select-choices-row-inner {
	word-break: break-all;
}

.my-account {
	margin-top: 20px;
}

.my-account .password-wrapper {
	float: left;
	text-align: left;
	background: white;
	padding: 10px 30px 30px 30px;
	border-radius: 10px;
}

.my-account .account-gap {
	height: 50px;
}

.my-account hr {
	border-top: 1px solid #ccc !important;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
