section.auth {
	padding: 70px 0;
	position: absolute;
	min-height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	background-color: #50B5C1;
  background: -moz-linear-gradient(137deg,  #50B5C1 0%, #6450A0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50B5C1), color-stop(100%,#6450A0));
  background: -webkit-linear-gradient(137deg,  #50B5C1 0%,#6450A0 100%);
  background: -o-linear-gradient(137deg,  #50B5C1 0%,#6450A0 100%);
  background: -ms-linear-gradient(137deg,  #50B5C1 0%,#6450A0 100%);
}
	section.auth > h3{
		font-size: 2em;
		font-weight: 500;
	}

	.valign-wrapper {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.valign-wrapper .valign {
		display: block;
		width: 100%;
	}

	section.auth a {
		color: white;
		text-decoration: underline;
	}

	section.auth.signup-view > h3 {
		font-size: 3em;
		padding-bottom: 0.5em;
	}

	section.auth form .field-input select {
		padding: 0.45em 0.9em;
		width: 100%;
		background: transparent;
		font-size: 16px;
		border: 1px solid #ccc;
		min-height: 34px;
	}

	section.auth input {
		color: #4c4c4c;
	}

	section.auth .btn {
		border-radius: 100px;
		font-size: 14px;
		padding: 12px 28px;
		margin-top: 1em;
		text-transform: uppercase;
	}


	.btn-rounded.btn-signup {
		background-color: #FFD747;
		color: #896D0B;
		border: 2px #FFD747 solid;
	}

	.btn-rounded.btn-signup:hover {
		color: #FFD747;
		background-color: #896D0B;
		border: 2px #896D0B solid;
	}

	.btn-rounded.btn-default {
		background-color: transparent;
		color: white;
		border: 2px white solid;
	}

	.btn-rounded.btn-default:focus, .btn-rounded.btn-default:hover {
		color: #6450A0;
		background-color: white;
		border-color: white;
	}

@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

section.auth input.form-control {
	min-height: 30px!important;
	border: none;
}

input.form-control {
	height: auto;
	border-radius: 4px;
	box-shadow: none;
	font-size: 18px;
	padding: 20px 10px;
}

.btn {
	border: none;
}
