<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
  <p>Dear Sir/Madam,</p>
  <p>A "{{formTitle}}" form was submitted on {{submissionTime}}.</p>
  <br/><br/><br/>
  <table id="formsg" width="100%" style="border-collapse:collapse;" cellpadding="5">
    <tbody>
      {% for field, value in formData %}
      <tr style="border-top: 1px solid #eee;">
        <td width="40%"><strong>{{field}}</strong></td>
        <td>{{value}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br/><br/><br/>
  <p>The {{appName}} Support Team</p>
</body>
</html>
