<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	</head>
	<body style="padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;" marginheight="0" marginwidth="0">
		<center>
			<table cellpadding="8" cellspacing="0" style="*width: 540px; padding: 0; width: 100% !important; background: #ffffff; margin: 0; background-color: #ffffff;" border="0">
				<tr>
					<td valign="top">
						<table cellpadding="0" cellspacing="0" style="border-radius: 6px; -webkit-border-radius: 6px; border: 1px #c0c0c0 solid; -moz-border-radius: 6px;" border="0" align="center">
							<tr>
								<td colspan="3" height="6"></td>
							</tr>
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" style="line-height: 25px;" border="0" align="center">
										<tr>
											<td colspan="3" height="30"></td>
										</tr>
										<tr>
											<td width="36"></td>
											<td width="454" align="left" style="color: #444444; border-collapse: collapse; font-size: 11pt; font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; max-width: 454px;" valign="top">
												//- -----------------------------------------------------------------------------------
												//- Only Edit Here
												//- -----------------------------------------------------------------------------------
												p Hello {{name}}!
												p
												| Welcome to {{appName}}!  Here is a special link to activate your new account:
												p
												a(href='${URL}') Activate my account
												p
												| Thanks so much for using our services! If you have any questions, or suggestions, please feel free to email us here at&nbsp;
												a(href='mailto:{{contactEmail}}') {{contactEmail}}
												| .
												p   - The {{appName}} team
												//- ----------------------------------------------------------------------------------

											</td>
											<td width="36"></td>
										</tr>
										<tr>
											<td colspan="3" height="36"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table cellpadding="0" cellspacing="0" align="center" border="0">
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td style="padding: 0; border-collapse: collapse;">
									<table cellpadding="0" cellspacing="0" align="center" border="0">
										<tr style="color: #c0c0c0; font-size: 11px; font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; -webkit-text-size-adjust: none;"></tr>
										<td width="400" align="left">
										<td width="128" align="right">© </td>
										</td>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>


