/* Custom Tab CSS */
@media all and (min-width: 768px) {
    .nav.nav-pills.nav-stacked {
        width: 16.66666667%;
    }
}
@media not all and (min-width: 768px) {
    .nav.nav-pills.nav-stacked {
        width: 100%;
    }
}
@media all and (min-width: 768px) {
    .hidden-when-large {
        display: none;
    }
}
@media not all and (min-width: 768px) {
    .hidden-when-small {
        display: none;
    }
}
.nav.nav-pills.nav-stacked {
	float: left;
	position: relative;
	min-height: 1px;
	background: #283c86;
}
.nav-pills>li>a {
	border-radius: 0;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
 .nav-pills>li.active>a:hover {
	 background-color: #fff;
	 color: #283d86;
	 font-weight: bold;
	 border: 1px solid #283d86;
	 border-right: none;
 }
 .nav-stacked>li+li {
	 margin-top: 0;
 }
 .nav>li>a {
	 color: #fff;
 }
 .nav>li>a:focus, .nav>li>a:hover {
	 background-color: #41964e;
	 color: white;
 }

 .mobile-tabs > .nav>li>a {
  color: #fff;
 }

 .mobile-tabs > .nav {
  background-color: #283d86;
 }

 .mobile-tabs > .nav-pills>li.active>a,
 .mobile-tabs > .nav-pills>li.active>a:focus,
 .mobile-tabs > .nav-pills>li.active>a:hover{
  border:1px solid #283d86;
  border-bottom:none;
  color: #283d86;
  background-color: #fff;
 }

 .mobile-tabs > .nav-pills>li.active>a.disabled{
  color: #777;
 }

 .mobile-tabs .nav>li.disabled>a {
  color: #777;
  cursor: not-allowed;
 }

 .horizontal-tabs .nav {
	 border-bottom: 1px solid #ccc;
 }
 .horizontal-tabs .nav>li>a{
	 color: #333;
 }
 .horizontal-tabs .nav>li>a:hover{
	color: #fff;
 }
 .horizontal-tabs .nav-pills>li.active>a,
 .horizontal-tabs .nav-pills>li.active>a:focus,
 .horizontal-tabs .nav-pills>li.active>a:hover{
	 border: none;
	 border-bottom: 5px solid #45a247;
	 color: #333;
 }
 .admin-form .horizontal-tabs .tab-content {
	 border: none;
	 margin: 10px 0;
 }
.horizontal-tabs .tab-content {
	width: 100%;
}

@media all and (min-width: 768px) {
    div.tab-content {
        width: 83.33333333%;
    }
}

@media not all and (min-width: 768px) {
    div.tab-content {
        width: 100%;
    }
}

div.tab-content {
	position: relative;
	min-height: 1px;
	float:left;
	padding-top: 0!important;
}
uib-tab-heading .glyphicon {
	top: 3px;
}

.panel-default.startPage {
    border-style: dashed;
    border-color: #a9a9a9;
    border-width:3px;
}

.busy-updating-wrapper {
   text-align: center;
   font-size: 20px;
   position: fixed;
   bottom: 0;
   right: 55px;
   z-index: 1;
}

.busy-submitting-wrapper {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}

.dropzone h4.panel-title {
    height: 17px;
    overflow: hidden;
}

section.content p.breakwords {
    word-break: break-all;
}

.public-form .btn {
    border: 1px solid #c6c6c6;
}

.public-form .btn[type='submit'] {
    font-size: 1.5em;
    padding: 0.35em 1.2em 0.35em 1.2em;
}

section.content > section > section.container {
    margin-top: 70px;
}

/*
** Modal CSS Styles
*/
.ui-datepicker { 
    /* This is necessary to prevent date picker 
    from being blocked in preview in Create tab */
    z-index: 9999 !important; 
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
}
.preview-field-panel .modal-header {
    margin-right: 20px;
}
.preview-field-panel .preview-header {
    padding-top: 15px;
}
.public-form .input-block {
    display: block;
    width: 100%;
}
.modal-footer input[type='text'] {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
.modal-body > .modal-body-alert {
    color: #796620;
    background-color: #f8eec7;
    border-color: #f2e09a;
    margin: -16px -15px 15px;
    padding: 10px 15px;
    border-style: solid;
    border-width: 1px 0;
}

.public-form .letter {
	position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 16px;
    padding: 0;
    font-size: 12px;
    line-height: 19px;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,.2);
    margin-right: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	text-align: center;
    font-weight: 700;
}



/* Styles for accordion */
form .accordion-edit {
    width: inherit;
}

/* Styles for form submission view (/forms/:formID) */

        form.submission-form .field.row.radio .btn.activeBtn {
            background-color: #000!important;
            background-color: rgba(0,0,0,0.7)!important;
            color: white;
        }
        form.submission-form .field.row.radio .btn {
            margin-right:1.2em;
        }

.config-form {
    max-width: 100%;
}

.config-form > .row {
    padding: 20px 30px;
}

.config-form .configure-option {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 8px;
}

.config-form .field-title-bold {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
}

.config-form .field-title-bold i {
    opacity: 0.5;
}

.config-form .field-title-bold i:hover,
.config-form .field-title-bold i:focus {
    opacity: 1.0;
}

.config-form .display-header {
    font-size: 18px;
}

.config-form .row-formname {
    padding-bottom: 20px;
}

.config-form .row-with-no-top {
    padding-top: 0px !important;
}

.config-form .row-with-no-bottom {
    padding-bottom: 0px !important;
}

        div.config-form .row > .field-input {
            padding-left:0.1em;
        }
            div.config-form .row > .field-input label {
                padding-left:1.3em;
                display: block;
								min-width: 100px;
            }
/* Styles for form admin view (/forms/:formID/admin) */
@media all and (min-width: 768px) {
    .admin-form > .page-header {
        padding-bottom: 0;
        margin-bottom: 40px;
    }
}

@media not all and (min-width: 768px) {
    .admin-form > .page-header {
        margin-bottom: 10px !important;
        margin-top: 0px !important;
    }
}
    .admin-form > .page-header h1 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .admin-form > .page-header h1,
    .admin-form > .page-header h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 10px;
    }
    .admin-form > .page-header div[uib-tooltip-popup] {
        word-wrap: break-word;
    }
    .admin-form > .page-header > .col-xs-3 {
        padding-top: 1.4em;
    }
.admin-form .form-controls .row {
    padding: 5px;
}
.admin-form .page-header {
    border: none;
	margin-top: none;
	margin-bottom: none;
}

/*Styles for admin view tabs */
.admin-form .tab-content {
  padding-top: 3em;
  border: 1px solid #283d86;
  background: #fff;
  margin-bottom: 50px;
}

@media not all and (min-width: 768px) {
    .admin-form .tab-content {
        border-top: 0;
    }
}

@media all and (min-width: 768px) {
    .admin-form .tab-content {
        border-left: 0;
    }
}

.admin-form .panel-heading {
    background-color: #f1f1f1;
	position: relative!important;
}

@media all and (min-width: 768px) {
    .admin-form .panel-heading {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media not all and (min-width: 768px) {
    .admin-form .panel-heading {
        text-align:center;
    }
}

    .admin-form .panel-heading:hover {
        background-color: #45a247;
        cursor: pointer;
				color: #fff;
    }
        .admin-form .panel-heading a:hover {
            text-decoration: none;
        }
					.admin-form .panel-heading a.disabled {
						pointer-events: none;
 						cursor: default;
					}

@media all and (min-width: 768px) {
    .current-fields {
        margin-top: 30px;
        padding: 0 35px;
    }
}

@media not all and (min-width: 768px) {
    .current-fields {
        margin-top: 8px;
    }
}

.current-fields .panel-body .row.question input[type='text'], .current-fields .panel-body .row.description textarea{
    width: 100%;
}
.current-fields .panel-body .row.options input[type='text'] {
    width: 80%;
}

.current-fields .panel-row {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.current-fields .panel-row .panel-field{
    padding-right:10px;
}

.current-fields .panel-row .panel-delete{
    padding:0 5px;
}

.current-fields .tool-panel > .panel-default:hover {
    cursor: pointer;
}

.current-fields .tool-panel > .panel-default .panel-heading {
    background-color: #fff;
    color: #9d9d9d;
    padding: 10px 0px;
}
    .current-fields .tool-panel > .panel-default .panel-heading:hover {
        background-color: #45a247;
        color: #fff;
        cursor: pointer;
    }
.current-fields .tool-panel > .panel-default .panel-heading a {
    color: inherit;
}
.current-fields .tool-panel > .panel-default .panel-heading a:hover{
    text-decoration: none;
}

/*Styles for submission table*/
.submissions-table .table-outer.row {
    margin: 1.5em 0 2em 0!important;
}
.submissions-table .table-outer .col-xs-12 {
    padding-left: 0!important;
    border:1px solid #ddd;
    overflow-x: scroll;
    border-radius:3px;
}
.submissions-table .table > thead > tr > th {
    min-width:8em;
}
.submissions-table .table > tbody > tr.selected {
    background-color:#efefef;
}

/*Styles for add fields tab*/
.admin-form .add-field {
    background-color: #fff;
    border-right: 1px solid #e8e6e6;
}

@media all and (min-width: 768px) {
    .admin-form .add-field {
        padding: 0 25px;
    }
}

.admin-form .add-field .col-xs-6 {
    padding: 0.25em 0.4em;
}

.admin-form .add-field .col-xs-6 .panel-heading {
    border-width: 1px;
    border-style: solid;
    border-color: #bbb;
    border-radius: 4px;
}

.admin-form .oscar-field-select {
    margin: 10px 0 10px;
}

.view-form-btn {
    margin-left: 10px;
    border-color: #ccc;
    float: right;
    font-size: 16px;
}

.view-form-btn:hover {
    background-color:#45a247 !important;
    color:#fff !important;
    border-color:#45a247 !important;
}

@media not all and (min-width:768px) {
    .view-form-btn {
        margin-top:17px;
    }
}

.status-light.status-light-off {
    color: #BE0000;
}
.status-light.status-light-on {
    color: #33CC00;
}

/* Styles for form list view (/forms) */
section.public-form .padded-view {
    padding: 0 10%;
}

.form-item-toolbar {
	padding: 10px 8px;
}

.form-item {
	text-align: center;
	/*border-bottom: 6px inset #ccc;*/
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: #fcfdff;
	width: 180px;
	position: relative;
	height: 215px;
	margin: 25px;
}


.form-item.paused {
	background-color: grey;
	color: white;
}

.form-item.paused:hover {
	background-color: #45a247;
	color: white;
}

.form-item.create-new input[type='text']{
    width: inherit;
    color:black;
    border:none;
}

.form-item.create-new {
    background-color: #283c86;
    color: white;
}


.form-item.create-new:hover {
	transition: all 0.2s;
	background-color: #45a247;
	cursor: pointer;
}

/*CREATE-NEW FORM MODAL*/
.form-item.create-new input{
	width: 100%;
}
.form-item.create-new.new-form {
    background-color: #283c86;
    z-index: 11;
}
    .form-item.new-form input[type='text'] {``
        margin-top:0.2em;
        width: inherit;
        color:black;
        border:none;
        padding: 0.3em 0.6em 0.3em 0.6em;
    }
    .form-item.new-form .custom-select {
        margin-top: 0.2em
    }
        .form-item.new-form .custom-select select {
            background-color: white;
        }


    .form-item.new-form .details-row {
        margin-top: 1em;
    }
    .form-item.new-form .details-row.submit {
        margin-top: 1.7em;
    }
        .form-item.new-form .details-row.submit .btn {
            font-size: 0.95em;
        }

    .form-item.new-form .title-row {
        margin-top: 1em;
        top:0;
    }

/*Modal overlay (for lightbox effect)*/
.overlay {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
h3.forms-list-title {
	color: #3FA2F7;
	font-weight: 600;
	margin-bottom: 3em;
}
.form-item {
	color: #71AADD;
	background-color: #E4F1FD;
}
.form-item:hover {
	background-color: #45a247;
  cursor: pointer;
  color: #f2f2f2;
	transition: all 0.2s;
}
.form-item > .row.footer {
    position: absolute;
    bottom: 0;
    left: 30%;
}

.form-item .title-row {
    position: relative;
    padding-bottom:1em;
    top: 10px;
}

.form-item .form-admin {
    position: absolute;
    width: 83.3333%;
    background-color: #fff;
    color: #34628a;
}

    .form-item .title-row h4 {
        font-size: 1.3em;
    }

.form-item.create-new  .title-row{
    padding: 0;
}
    .form-item.create-new  .title-row h4 {
        font-size: 7em;
    }

.form-item .details-row{
    margin-top: 23px;
}
    .form-item  .details-row small {
        font-size: 0.6em;
    }
    .form-item.create-new  .details-row small {
        font-size: 0.95em;
    }

.form-item-toolbar .form-item-icon {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}

.empty-form {
	display: flex;
}

.empty-form img{
		width:300px;
		height:230px;
		margin: 0 auto;
}

.inactive-row {
    position: absolute;
    bottom: 38px;
}

.inactive-row .list-group-item-text {
    font-size:0.95em;
}
