.public-form.preview {
    border: none; 
    box-shadow: 0px 0px 10px 0px grey; 
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 400px; 
    width: 90%; 
    position: absolute;
}

.public-form input, .public-form textarea {
	background-color: #000000;
    background-color: rgba(0,0,0,0);
    border-width: 0px;
}

.public-form input.ng-untouched, .public-form textarea.ng-untouched {
    border-width: 0 0 2px 0;
    border-color: rgba(246, 255, 181, 0.4);
    outline: 0;
}

.public-form input:focus, .public-form textarea:focus {
    border-width: 0 0 2px 0;
    border-color: rgba(246, 255, 181, 0.4);
    outline: 0;
}

.public-form input.ng-dirty, .public-form textarea.ng-dirty {
    border-width: 0;
}

.public-form input.empty, .public-form textarea.empty {
    border-width: 0 0 2px 0;
    border-color: rgba(246, 255, 181, 0.4);
}

section.content p.breakwords {
    word-break: break-all;
}

.public-form .btn[type='submit'] {
    font-size: 1.5em;
    padding: 0.35em 1.2em 0.35em 1.2em;
}

section.content > section > section.container {
    margin-top: 70px;
}

/*
** Modal CSS Styles 
*/
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: normal;
}
.public-form .input-block {
    display: block;
    width: 100%;
}
.modal-footer input[type='text'] {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
.modal-body > .modal-body-alert {
    color: #796620;
    background-color: #f8eec7;
    border-color: #f2e09a;
    margin: -16px -15px 15px;
    padding: 10px 15px;
    border-style: solid;
    border-width: 1px 0;
}

div.form-fields {
	position: relative;
	padding-top: 10%;
}
.public-form .letter {
	position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 16px;
    padding: 0;
    height: 17px;
    font-size: 12px;
    line-height: 19px;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,.2);
    margin-right: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	text-align: center;
    font-weight: 700;
}

div.form-submitted > .field.row {
    padding-bottom: 2%;
    margin-top: 10%;
}
div.form-submitted > .field.row > div {
    font-size: 1.7em;
}

/* Styles for accordion */
form .accordion-edit {
    width: inherit;
}

/*Styles for ui-datepicker*/
.ui-datepicker.ui-widget {
    z-index: 99!important;
}

form .row.field .field-number {
	margin-right: 0.5em;
}

/* Styles for form submission view (/forms/:formID) */
form .row.field {
    padding: 1em 0 0 0;
    width: inherit;
}
    form .row.field > .field-title {
        margin-top:0.5em;
        font-size:1.2em;
        padding-bottom: 0.5em;
        width: inherit;
    }
    form .row.field > .field-input {
        font-size: 1.4em;
        color: #777;
    }
    form.submission-form .row.field.statement > .field-title {
        font-size:1.7em;
    }
    form.submission-form .row.field.statement > .field-input {
        font-size:1em;
        color:#ddd;
    }

        form.submission-form .select.radio > .field-input input, form.submission-form .select > .field-input input {
            width:20%;
        }

        form.submission-form .field.row.radio .btn.activeBtn {
            background-color: #000!important;
            background-color: rgba(0,0,0,0.7)!important;
            color: white;
        }
        form.submission-form .field.row.radio .btn {
            margin-right:1.2em;
        }

        form.submission-form .select > .field-input .btn {
            text-align: left;
            margin-bottom:0.7em;
        }
        form.submission-form .select > .field-input .btn > span {
            font-size: 1.10em;
        }

        /*form.submission-form .field-input > input:focus {
            font-size:1em;
        }*/

        form .field-input > textarea{
            padding: 0.45em 0.9em;
            width: 100%;
            line-height: 160%;
        }

        form .field-input > input.hasDatepicker{
            padding: 0.45em 0.9em;
            width: 50%;
            line-height: 160%;
        }
        form .field-input > input.text-field-input{
            padding: 0.45em 0.9em;
            width: 100%;
            line-height: 160%;
        }
        form .required-error{
            color: #ddd;
            font-size:0.8em;
        }

    form .row.field.dropdown > .field-input input {
        min-height: 34px;
		border-width: 0 0 2px 0;
		border-radius: 5px;
    }
	
	form .row.field.dropdown > .field-input input:focus {
		border: none;
	}

	   	form .dropdown > .field-input .ui-select-choices-row-inner {
			border-radius: 3px;
			margin: 5px;
			padding: 10px;
			background-color: #000000;
			background-color: rgba(0,0,0,0.05);
		}

		form .dropdown > .field-input .ui-select-choices-row-inner.active, form .dropdown > .field-input .ui-select-choices-row-inner.active:focus {
			background-color: #000000;
			background-color: rgba(0,0,0,0.1);
        }

.current-fields .panel-body .row.question input[type='text'], .current-fields .panel-body .row.description textarea{
    width: 100%;
}
.current-fields .panel-body .row.options input[type='text'] {
    width: 80%;
}

/*Override Select2 UI*/
.ui-select-choices.ui-select-dropdown {
	top:2.5em!important;
}
.ui-select-toggle {
	box-shadow:none!important;
	border:none!important;
}

/* Styles for form list view (/forms) */
section.public-form field-directive .btn.btn-lg.btn-default {
    background: none;
}

section.public-form field-directive .btn[disabled]{
    display: none;
}

.form-item {
	border-radius: 5px;
    text-align: center;
    background-color: #eee;
    width: 180px;
    position: relative;
    height: 215px;
    margin-bottom: 45px;
}


.form-item.paused {
	background-color: red;
	color: white;
}

.form-item.paused:hover {
	background-color: darkred;
	color: white;
}

.form-item.create-new input[type='text']{
    width: inherit;
    color:black; 
    border:none;
}

.form-item.create-new {
    background-color: #3FA2F7;
    color: white;
}


.form-item.create-new:hover {
	background-color: #276496;
}

/*CREATE-NEW FORM MODAL*/
.form-item.create-new.new-form {
    background-color: #832383;
    background-color: rgb(300,131,131);
    z-index: 11;
}
.form-item.create-new.new-form:hover {
    background-color: #3079b5;
}
    .form-item.new-form input[type='text'] {
        margin-top:0.2em;
        width: inherit;
        color:black; 
        border:none;
        padding: 0.3em 0.6em 0.3em 0.6em;
    }
    .form-item.new-form .custom-select {
        margin-top: 0.2em
    }
        .form-item.new-form .custom-select select {
            background-color: white;
        }


    .form-item.new-form .details-row {
        margin-top: 1em;
    }
    .form-item.new-form .details-row.submit {
        margin-top: 1.7em;
    }
        .form-item.new-form .details-row.submit .btn {
            font-size: 0.95em;
        }

    .form-item.new-form .title-row {
        margin-top: 1em;
        top:0;
    }

.field-directive {
    opacity: 0.2;
    padding: 2.5% 10% 2.5% 10%;
}

.form-field-wrapper .form-actions.activeField, .field-directive.activeField {
    opacity: 1;
}


h3.forms-list-title {
	color: #3FA2F7;
	font-weight: 600;
	margin-bottom: 3em;
}
.form-item {
	color: #71AADD;
	background-color: #E4F1FD;
}
.form-item:hover {
	background-color: #3FA2F7;
	color: #23527C;
}

.form-item.create-new:hover {
    background-color: #d9d9d9;
	color: white;
}

.form-item.create-new:hover {
    background-color: #515151;
    background-color: rgb(81,81,81);
}

.form-item > .row.footer {
    position: absolute;
    bottom: 0;
    left: 30%;
}

.form-item .title-row {
    position: relative;
    top: 15px;
    padding-top:3em;
    padding-bottom:1em;
}
    .form-item .title-row h4 {
        font-size: 1.3em;
    }

.form-item.create-new  .title-row{
    padding: 0;
}
    .form-item.create-new  .title-row h4 {
        font-size: 7em;
    }

.form-item .details-row{
    margin-top: 3.2em;
}
    .form-item  .details-row small {
        font-size: 0.6em;
    }
    .form-item.create-new  .details-row small {
        font-size: 0.95em;
    }
