.public-form .form-header {
  width:100%;
  color:black !important;
  padding: 20px 16.2222222%;
  overflow-wrap:normal;
  border-bottom:2px black solid;
  z-index: 11;
}

.public-form .form-header>img {
  display:block;
  max-width:80px;
  max-height:80px;
  width:auto;
  height:auto;
}

.public-form .form-header>.form-header-title {
  padding-top: 10px;
}

@media all and (min-width: 768px) {
  .public-form .form-header {
    font-size:30px;
  }
}

@media not all and (min-width: 768px) {
  .public-form .form-header {
    font-size:25px;
  }
}

.public-form.submit-form,
.public-form.submit-form .overlay {
  min-height: 100vh;
  background-color: #fff;
}
.public-form.submit-form .btn {
  color: inherit;
  font-size: 1.3em;
}
.public-form.submit-form .btn:hover {
  opacity: 0.65;
}
.public-form.submit-form .btn[disabled] {
  opacity: 0.3;
}
.public-form.submit-form .empty-div {
  min-height: 20vh;
}

/* Start page & end page */
div.start-end-page {
  padding-top: 15vh;
  overflow-wrap: break-word;
}
div.start-end-page .start-end-paragraph {
  color: grey;
  font-weight: 100;
  margin-top: 25px;
  margin-bottom: 25px;
}
div.start-end-page .form-actions {
  padding: 10px;
}
div.start-end-page .form-actions .btn {
  text-decoration: none;
  min-width: 120px;
}

/* Form fields */
.field-directive {
  padding: 10px;
  position: relative;
}

/* Form button panel */
.form-button-panel {
  background-color: white;
  padding-top: 15px;
  border-top: 2px solid;
}
.form-button-panel .btn {
  margin: 10px auto;
}
.form-button-panel .btn:not(:first-child) {
  margin-left: 10px;
}
.form-button-panel p {
  margin: 0;
}
.form-button-panel .answered {
  font-size: 30px;
}
.form-button-panel .need-complete {
  color: #BE0000;
  font-weight: bold;
}
.form-button-panel .btn.up-down-btn {
  background-color: white;
}
.form-button-panel .btn.review-btn,
.form-button-panel .btn.submit-btn {
  float: right;
}
.form-button-panel .btn.review-btn {
  background-color: #BE0000;
  color: white;
}

@media not all and (min-width: 768px) {
  .form-button-panel .answered,
  .form-button-panel .need-complete {
    text-align: center;
    font-size: inherit;
  }
}
