/* Styles for form submission view (/forms/:formID) */
form .row.field {
    padding: 1em 0 3em 0;
}
    form .row.field > .field-title {
        margin-top:0.5em;
        font-size:1.5em;
    }
    form.submission-form .row.field.statement > .field-title {
        font-size:1.7em;
    }
    form.submission-form .row.field.statement > .field-input {
        font-size:1.2em;
        color:#ddd;
    }
    form.submission-form .row.field > .field-input input {
        width:500px;
    }
    form.submission-form .row.field .field-input > input:focus {
        font-size:1em;
    }
        form .row.field.textfield > .field-input > input{
            padding:0.45em 0.9em;
            width:600px;
        }

div.config-form > .row {
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 90%;
}

    div.config-form > .row > .container:nth-of-type(odd){
        border-right: 1px #ddd solid;
        /*padding-left: 1em;*/
    }

        div.config-form .row > .field-input {
            padding-top:1.2em;
            padding-left:0.1em;
        }
            div.config-form .row > .field-input label {
                padding-left:1.3em;
                display: block;
            }




/* Styles for form admin view (/forms/:formID/admin) */
.admin-form > .page-header {
    padding-bottom: 0px;
    margin-bottom: 40px;
}
    .admin-form > .page-header h1 {
        margin-bottom: 0px
    }
    .admin-form > .page-header > .col-xs-3 {
        padding-top: 1.4em;
    }
.admin-form .form-controls .row {
    padding: 5px;
}
.admin-form .page-header {
    border: none;
}

/*Styles for admin view tabs */
.admin-form .tab-content {
    padding-top: 3em;
}

.admin-form .panel-heading {
    background-color: #f1f1f1;
}
    .admin-form .panel-heading:hover {
        background-color: #fff;
        cursor: pointer;
    }
        .admin-form .panel-heading a:hover {
            text-decoration: none;
        }

.current-fields .tool-panel > .panel-default:hover {
    border-color: #9d9d9d;
    cursor: pointer;
}

.current-fields .tool-panel > .panel-default .panel-heading {
    background-color: #fff;
    color: #9d9d9d!important;
}
    .current-fields .tool-panel > .panel-default .panel-heading:hover {
        background-color: #eee;
        color: #000!important;
        cursor: pointer;
    }     
.current-fields .tool-panel > .panel-default .panel-heading a {
    color: inherit;
}
.current-fields .tool-panel > .panel-default .panel-heading a:hover{
    text-decoration: none;
}


/*Styles for add fields tab*/
.admin-form .add-field {
    background-color: #ddd;
}
    .admin-form .add-field .col-xs-6 {
        padding: 0.25em 0.4em;
    }
        .admin-form .add-field .col-xs-6 .panel-heading {
            border-width: 1px;
            border-style: solid;
            border-color: #bbb;
            border-radius: 4px;
        }

.status-light {
    padding-left:0.6em;
}
.status-light.status-light-off {
    color: #BE0000;
}
.status-light.status-light-on {
    color: #33CC00;
}

/* Styles for form list view (/forms) */
section > section.ng-scope {
    padding: 0 60px 20px 60px;
}
.form-item.row {
    text-align: center;
    border-bottom: 6px inset #ccc;
    background-color: #eee;
    width: 180px;
    height: 215px;
    margin-bottom: 45px;
}

.form-item.row.create-new {
    background-color: rgb(131,131,131);
    color: white;
}

.form-item.row:hover, .form-item.row.create-new:hover {
    border-bottom: 8px inset #ccc;
    background-color: #d9d9d9;
}

.form-item.row.create-new:hover {
    /*color: #eee;*/
    background-color: rgb(81,81,81);
}

.form-item.row > .title-row{
    position: relative;
    top: 15px;
    padding-top:3em;
    padding-bottom:3.65em; 
}
    .form-item.row > .title-row h4 {
        font-size: 1.3em;
    }

.form-item.row.create-new > .title-row{
    padding: 0;
    /*margin-top:1em; */

}
    .form-item.row.create-new > .title-row h4 {
        font-size: 7em;
    }

.form-item.row > .details-row{
    margin-top: 3.2em;
}
    .form-item.row > .details-row small {
        font-size: 0.65em;
    }
    .form-item.row.create-new > .details-row small {
        font-size: 0.95em;
    }