/* Styles for form admin view (/forms/:formID/admin) */
.admin-form > .page-header {
    padding-bottom: 0px;
    margin-bottom: 40px;
}
    .admin-form > .page-header h1 {
        margin-bottom: 0px
    }
    .admin-form > .page-header > .col-xs-3 {
        padding-top: 1.4em;
    }
.admin-form .form-controls .row {
    padding: 5px;
}


.status-light {
    padding-left:0.6em;
}
.status-light.status-light-off {
    color: red;
}
.status-light.status-light-on {
    color: green;
}

/* Styles for form list view (/forms) */
section > section.ng-scope {
    padding: 0 60px 20px 60px;
}
.form-item.row {
    text-align: center;
    border-bottom: 6px inset #ccc;
    background-color: #eee;
    width: 180px;
    height: 215px;
    margin-bottom: 45px;
}

.form-item.row.create-new {
    background-color: rgb(131,131,131);
    color: white;
}

.form-item.row:hover, .form-item.row.create-new:hover {
    border-bottom: 8px inset #ccc;
    background-color: #d9d9d9;
}

.form-item.row.create-new:hover {
    /*color: #eee;*/
    background-color: rgb(81,81,81);
}

.form-item.row > .title-row{
    position: relative;
    top: 15px;
    padding-top:3em;
    padding-bottom:3.65em; 
}
    .form-item.row > .title-row h4 {
        font-size: 1.3em;
    }

.form-item.row.create-new > .title-row{
    padding: 0;
    /*margin-top:1em; */

}
    .form-item.row.create-new > .title-row h4 {
        font-size: 7em;
    }

.form-item.row > .details-row{
    margin-top: 3.2em;
}
    .form-item.row > .details-row small {
        font-size: 0.65em;
    }
    .form-item.row.create-new > .details-row small {
        font-size: 0.95em;
    }