/* Styles for form list view (/forms) */

.form-item.row {
    text-align: center;
    border-bottom: 4px inset #ccc;
    background-color: #eee;
    width: 180px;
    height: 215px;
}

.form-item.row.create-new {
    border-bottom: 4px inset #ccc;
    background-color: rgb(51,51,51);
    color: white;
}

.form-item.row:hover, .form-item.row.create-new:hover {
    border-bottom: 6px inset #ccc;
    background-color: #d9d9d9;
}

.form-item.row.create-new:hover {
    /*color: #eee;*/
    background-color: rgb(81,81,81);
}


.form-item.row > .title-row{
    position: relative;
    top: 15px;
    padding-top:3em;
    padding-bottom:3.65em; 
}
    .form-item.row > .title-row h4 {
        font-size: 1.3em;
    }

.form-item.row.create-new > .title-row{
    padding: 0;
    /*margin-top:1em; */

}
    .form-item.row.create-new > .title-row h4 {
        font-size: 7em;
    }

.form-item.row > .details-row{
    margin-top: 3.2em;
}
    .form-item.row > .details-row small {
        font-size: 0.65em;
    }
    .form-item.row.create-new > .details-row small {
        font-size: 0.95em;
    }