$accent: #fae596;
$primary: #3fb0ac;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

1html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.bg-primary {
  &.navbar-dark,
  &.dark {
    background-color: #173e43 !important;
  }

  &.dark {
    a {
      color: #dddfd4;

      &:hover {
        color: #fae596;
      }
    }
  }
}

.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;

  &:hover {
    color: #fff;
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }

  &:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem transparentize($primary, 0.5);
  }
}
