<div class="field row">
    <div class="col-xs-5 field-title">{{field.title}} </div>
    <span class="required-error" ng-show="field.required && !field.fieldValue">* required </span>
    <div class="col-xs-7 field-input">
        <div class="control-group input-append">
            <input ui-date="dateOptions" ng-model="field.fieldValue" ng-model-options="{ debounce: 250 }" ng-required="field.required" ng-disabled="field.disabled">
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        </div>
    </div>
</div>
