<div class="field row">
    <div class="col-xs-7 field-title">{{field.title}} </div>
    <div class="col-xs-5 field-input">
		<select ng-model="field.fieldValue" ng-model-options="{ debounce: 250 }"  ng-required="field.required" ng-disabled="field.disabled">
			<option ng-repeat="option in field.field_options" 
					ng-selected="option.option_value == field.fieldValue"
					value="{{option.option_id}}">
				{{option.option_title}}
			</option>
        </select>    
        <span class="required-error" ng-show="field.required && !field.fieldValue">* required</span>
    </div>
</div>
<br>
