<div class="field row radio legal"
	 ng-click="setActiveField(field._id, index, true)"
	 on-enter-key="chooseDefaultOption('legal')">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">    	
    	<h3>{{field.title}} <span class="required-error" ng-show="!field.required">optional</span></h3>
    	<br>
    	<p style="color:#ddd;">{{field.description}}</p>
    </div>
    <div class="col-xs-12 field-input container">
		<div class="row-fluid">
            <label class="btn col-xs-5"
				   ng-class="{activeBtn: field.fieldValue == 'true'}">
                <input ng-focus="setActiveField(field._id, index, true)" 
                    class="focusOn"
                    ng-style="{'color': design.colors.answerColor, 'border-color': design.colors.answerColor}" 
                    type="radio"
				    value="true"
                    ng-model="field.fieldValue" 
                    ng-model-options="{ debounce: 250 }"
                    ng-required="field.required" 
                    ng-change="$root.nextField()"
                    ng-disabled="field.disabled"/>
                <span> I accept </span>
            </label>
            <label class="btn col-xs-5 col-xs-offset-1"
				   ng-class="{activeBtn: field.fieldValue == 'false'}">
                <input ng-focus="setActiveField(field._id, index, true)" 
                    ng-style="{'color': design.colors.answerColor, 'border-color': design.colors.answerColor}" 
                    type="radio"
				    value="false"
                    ng-model="field.fieldValue" 
                    ng-model-options="{ debounce: 250 }"
                    ng-required="field.required" 
                    ng-select="$root.nextField()"
                    ng-disabled="field.disabled"/>
                <span>I don't accept </span>
            </label>
        </div>
       
    </div>
</div>
<br>
