<div class="field row radio" ng-click="setActiveField(field._id)" ng-if="field.fieldOptions.length > 0">
    <div class="col-xs-12 field-title"><h3><span class="fa fa-angle-double-right"></span> {{field.title}} <span class="required-error" ng-show="field.required && !field.fieldValue">*(required)</span></h3></div>
    <div class="col-xs-12 field-input">
        <div ng-repeat="option in field.fieldOptions" class="row-fluid">
            <label class="btn col-xs-3" ng-class="{activeBtn: field.fieldValue == field.fieldOptions[$index].option_value}">
                <input ng-focus="setActiveField(field._id)"
                type="radio" 
                value="{{option.option_value}}" 
                ng-model="field.fieldValue" 
                ng-model-options="{ debounce: 250 }" 
                ng-required="field.required" 
                ng-disabled="field.disabled" 
                />
                <span ng-bind="option.option_title"></span>
            </label>
        </div>
    </div>
</div>
<br>
