<div class="textfield field row"
	 ng-click="setActiveField(field._id, index, true)"
	 on-enter-key="chooseDefaultOption('rating')">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
	    <h3>
	    	<span class="fa fa-angle-double-right"></span> 
	    	{{field.title}} 
	    	<span class="required-error" ng-show="!field.required">optional</span>
	    </h3>
    </div>
    <div class="col-xs-12 field-input">
		<input-stars max="5" ng-focus="setActiveField(field._id, index, true)"
			icon-full="fa-star" 
			icon-base="fa fa-3x" 
			icon-empty="fa-star-o"
			ng-init="field.fieldValue = 1"
			ng-model="field.fieldValue" 
			ng-model-options="{ debounce: 250 }"  
			ng-required="field.required"
			ng-disabled="field.disabled"
			class="angular-input-stars focusOn">
		</input-stars>
    </div>
</div>
