<div class="statement field row container">
    <div class="col-xs-12 row field-title field-title">
    	<i class="fa fa-quote-left fa-3 col-xs-1"></i>
    	<h2 class="text-center col-xs-8 ">{{field.title}} </h2>
    	<i class="fa fa-quote-right fa-3 col-xs-1"></i>
    </div>
    <div class="col-xs-10row field-title field-input">
    	
    	<p class="col-sm-12">{{field.description}} </p>
    	<!-- <br>
        <button class="btn btn-info col-sm-2" style="font-size: 1.3em;">
                Continue 
        </button> -->
    </div>
</div>
