<div class="statement field row" ng-click="setActiveField(field._id)">
    <div class="row field-title field-title">
    	<div class="col-xs-1"><i class="fa fa-quote-left fa-1"></i></div>
    	<h2 class="text-center col-xs-9">{{field.title}} </h2>
    	<div class="col-xs-1"><i class="fa fa-quote-right fa-1"></i></div>
    </div>
    <div class="row field-title field-input">
    	
    	<p class="col-xs-12">{{field.description}} </p>
    	<br>
        <button class="btn btn-info col-xs-6 col-xs-offset-3" style="font-size: 1.3em;">
                Continue 
        </button>
    </div>
</div>
