<div class="textfield field row" ng-click="setActiveField(field._id, index, true)">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}" ng-style="{'color': design.colors.questionColor}">
    	<h3>
    		<span class="fa fa-angle-double-right"></span> {{field.title}} 
    		<span class="required-error" ng-show="field.required && !field.fieldValue">
    			*(required)
    		</span>
    	</h3>
    </div>
    <div class="col-xs-12 field-input">
		<input ng-style="{'color': design.colors.answerColor, 'border-color': design.colors.answerColor}" 
            ng-focus="setActiveField(field._id, index, true)"
			name="{{field._id}}"
            type="{{field.input_type}}" 
			placeholder="{{field.placeholder}}"
			ng-class="{ 'no-border': !!field.fieldValue }"
            class="focusOn text-field-input" 
			ng-model="field.fieldValue" 
			ng-model-options="{ debounce: 250 }"  
			value="field.fieldValue" 
			ng-required="field.required"
			ng-disabled="field.disabled"
	        aria-describedby="inputError2Status"
    		on-enter-key="nextField()">
    </div>
    <div class="col-xs-12">        
        <div ng-show="myForm[{{field._id}}].$invalid" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid email address
        </div>
    </div>
</div>
<div class="col-xs-12 row">
    	<div class="btn btn-lg btn-default row-fluid"
	 	style="padding: 4px; margin-top:8px; background: rgba(255,255,255,0.5)">
			<button ng-disabled="!field.fieldValue || myForm.{{field._id}}.$invalid" 
				ng-style="{'background-color':design.colors.buttonColor, 'color':design.colors.buttonTextColor}"
                ng-click="$root.nextField()" 
				class="btn col-sm-5 col-xs-5">
				
				OK <i class="fa fa-check"></i>
			</button>
			<div class="col-sm-3 col-xs-6" style="margin-top:0.2em">
				<small style="color:#ddd; font-size:70%">
				press ENTER
				</small>
			</div>
	</div>
</div>
