setActiveField(field._id, index)<div class="field row radio" ng-click="setActiveField(field._id, index)">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
        <h3 class="row">
            <span class="fa fa-angle-double-right"></span> {{field.title}} 
            <span class="required-error" ng-show="field.required && !field.fieldValue">
                *(required)
            </span>
        </h3>
        <p class="row">
            {{field.description}}
        </p>
    </div>

    <div class="col-xs-12 field-input">
        <div class="row-fluid">
            <label class="btn btn-success col-xs-3">
                <input ng-focus="setActiveField(field._id, index)" type="radio" value="true" ng-model="field.fieldValue" ng-model-options="{ debounce: 250 }" ng-required="field.required" ng-disabled="field.disabled" ng-init="field.fieldValue = true"/>
                <span>Yes</span>
            </label>

            <label class="btn btn-danger col-xs-3">
                <input ng-focus="setActiveField(field._id, index)" type="radio" value="false" ng-model="field.fieldValue" ng-model-options="{ debounce: 250 }" ng-required="field.required" ng-disabled="field.disabled"/>
                <span>No</span>
            </label>
        </div>
    </div>
</div>
<br>
