<div class="field row radio" ng-click="setActiveField(field._id, index)">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
        <h3 class="row">
            <span class="fa fa-angle-double-right"></span> {{field.title}} 
            <span class="required-error" ng-show="field.required && !field.fieldValue">
                *(required)
            </span>
        </h3>
        <p class="row">
            {{field.description}}
        </p>
    </div>

    <div class="col-xs-12 field-input">
        <div class="row">
	{{field.fieldValue}}
            <label class="btn btn-default col-xs-2"
		style="background: rgba(0,0,0,0.1); text-align:left;">
                		<input ng-focus="setActiveField(field._id, index)" 
					type="radio" value="true" 
					style="display: none;"
					ng-model="field.fieldValue" 
					ng-model-options="{ debounce: 250 }" 
					ng-required="field.required" 
					ng-disabled="field.disabled" />
				<div class="letter">
					Y
				</div>               	
				<span>Yes</span>
				<i ng-show="field.fieldValue = true" class="fa fa-check" aria-hidden="true"></i>
            </label>
		</div>
		<div class="row" style="margin-top: 10px;">
            <label class="btn btn-default col-xs-2" 
		style="background: rgba(0,0,0,0.1); text-align:left;">
                <input ng-focus="setActiveField(field._id, index)" 
			type="radio" value="false" 
			style="display: none;"
			ng-model="field.fieldValue" 
			ng-model-options="{ debounce: 250 }" 
			ng-required="field.required" 
			ng-disabled="field.disabled"/>
                <div class="letter">
                  N
				</div>
				<span>No</span>
                <i ng-show="field.fieldValue == false" class="fa fa-check" aria-hidden="true"></i>
            </label>
        </div>
    </div>
</div>
<br>
