<div class="config-form container">
	<div class="row">
		<uib-tabset active="activePill" type="pills">
			<uib-tab ng-repeat="tab in configureTabs" active="tab.active" select="go(tab)" heading="{{tab.heading}}">
				<div ng-if="tab.active" ui-view></div>
			</uib-tab>
		</uib-tabset>
	</div>

    <div class="row">
		<div class="col-sm-offset-4 col-sm-2">
			<button class="btn btn-signup btn-rounded" v-busy="saveInProgress" 
			v-busy-label="{{ 'WAIT_LABEL' | translate }}" 
			v-busy-text="{{ 'SAVE_CHANGES' | translate }}"
			v-pressable ng-click="saveChanges()">
				<i class="icon-arrow-left icon-white"></i>
				
			</button>
		</div>
		<div class="col-sm-1">
			<button class="btn btn-secondary btn-rounded" type="button" ng-click="resetForm()"><i class="icon-eye-open icon-white"></i>{{ 'CANCEL' | translate }}</button>
		</div>
    </div>
</div>
