<form name="editForm" >

	<!-- Edit EndPage Modal Dialog Template -->
	<script type="text/ng-template" id="editEndPageModal.html" class="edit-endpage-modal">
		<div class="modal-body">
			<div class="row">
				<div class="edit-panel col-md-6 col-xs-12 col-sm-12 container">
					<div class="row modal-header">
						<h2 class="modal-title hidden-md hidden-lg">{{ 'EDIT_END_PAGE' | translate }}</h2>
						<h3 class="modal-title hidden-xs hidden-sm">{{ 'EDIT_END_PAGE' | translate }}</h3>
					</div>

					<div class="row question">
						<div class="col-md-4 col-sm-12">{{ 'TITLE' | translate }}:</div>
						<div class="col-md-8 col-sm-12">
							<input class="form-control" type="text"
								   ng-model="myform.endPage.title" required>
						</div>
					</div>

					<div class="row"><br></div>

					<div class="row question">
						<div class="col-md-4 col-sm-12">{{ 'PARAGRAPH' | translate }}:</div>
						<div class="col-md-8 col-sm-12">
                                    <textarea class="form-control" type="text"
											  ng-model="myform.endPage.paragraph"></textarea>
						</div>
					</div>

					<div class="row"><br></div>

					<div class="row question">
						<div class="col-md-4 col-sm-12">{{ 'BTN_TEXT' | translate }}:</div>
						<div class="col-md-8 col-sm-12">
							<input class="form-control" type="text"
								   ng-model="myform.endPage.buttonText" required>
						</div>
					</div>

					<div class="row"><br></div>

					<div class="modal-footer row">
						<button type="submit" ng-click="saveEndPage()" class="btn btn-signup btn-rounded">
							{{ 'SAVE_START_PAGE' | translate }}
						</button>

						<button ng-click="cancel()" class="btn btn-secondary btn-rounded">
							{{ 'CANCEL' | translate }}
						</button>
					</div>
				</div>

				<div class="preview-field-panel col-md-6 hidden-sm hidden-xs container">
					<form class="public-form">

						<div class="row">
							<div class="col-xs-12 text-center" style="overflow-wrap: break-word;">
								<h1 style="font-weight: 400; font-size: 25px;">
									{{myform.endPage.title}}
								</h1>
							</div>
							<div class="col-xs-10 col-xs-offset-1 text-center" style="overflow-wrap: break-word;">
								<p style="color: grey; font-weight: 100; font-size: 16px;">
									{{myform.endPage.paragraph}}
								</p>
							</div>
						</div>

						<div class="row form-actions text-center" style="padding: 5px 25px 5px 25px;">
							<button ng-click="reloadForm()" class="btn" type="button"
									ng-style="{'background-color':myform.design.colors.buttonColor, 'color':myform.design.colors.buttonTextColor}">
			<span style="font-size: 1.6em;">
			{{myform.endPage.buttonText}}
			</span>
							</button>
						</div>
						<div class="row form-actions" style="padding-bottom:3em; padding-left: 1em; padding-right: 1em;">
							<p ng-repeat="button in myform.endPage.buttons" class="text-center" style="display:inline;">
								<button class="btn" style="background-color:rgb(156, 226, 235)" type="button" ng-style="{'background-color':button.bgColor, 'color':button.color}">
									<a href="{{button.url}}"
									   style="font-size: 1.6em; text-decoration: none;"
									   ng-style="{'color':button.color}">
										{{button.text}}
									</a>
								</button>
							</p>
						</div>

					</form>
				</div>
			</div>

		</div>


	</script>

	<!-- Edit StartPage Modal Dialog Template -->
	<script type="text/ng-template" id="editStartPageModal.html" class="edit-startpage-modal">
		<div class="modal-body">
			<div class="row">
				<div class="edit-panel col-md-6 col-xs-12 col-sm-12 container">
					<div class="row modal-header">
						<h2 class="modal-title hidden-md hidden-lg">{{ 'EDIT_START_PAGE' | translate }}</h2>
						<h3 class="modal-title hidden-xs hidden-sm">{{ 'EDIT_START_PAGE' | translate }}</h3>
					</div>

					<div class="row question">
						<div class="col-md-4 col-sm-12">{{ 'INTRO_TITLE' | translate }}:</div>
						<div class="col-md-8 col-sm-12">
							<input class="form-control" type="text"
								   ng-model="myform.startPage.introTitle"
								   name="introTitleStartPage" required>
						</div>
					</div>

					<div class="row"><br></div>

					<div class="row question">
						<div class="col-md-4 col-sm-12">{{ 'INTRO_PARAGRAPH' | translate }}:</div>
						<div class="col-md-8 col-sm-12">
                                    <textarea class="form-control" type="text"
											  ng-model="myform.startPage.introParagraph"
											  name="introParagraphStartPage"></textarea>
						</div>
					</div>

					<div class="row"><br></div>

					<div class="row question">
						<div class="col-md-4 col-sm-12">{{ 'INTRO_BTN' | translate }}:</div>
						<div class="col-md-8 col-sm-12">
							<input class="form-control" type="text"
								   ng-model="myform.startPage.introButtonText"
								   name="introButtonText" required>
						</div>
					</div>

					<div class="row"><br></div>

					<div class="modal-footer row">
						<button type="submit" ng-click="saveStartPage()" class="btn btn-signup btn-rounded">
							{{ 'SAVE_START_PAGE' | translate }}
						</button>

						<button ng-click="cancel()" class="btn btn-secondary btn-rounded">
							{{ 'CANCEL' | translate }}
						</button>
					</div>
				</div>

				<div class="preview-field-panel col-md-6 hidden-sm hidden-xs container">
					<form class="public-form">

						<div class="field row">
							<div class="col-xs-12 text-center" style="overflow-wrap: break-word;">
								<h1>{{myform.startPage.introTitle}}</h1>
							</div>
							<div class="col-xs-10 col-xs-offset-1 text-left" style="overflow-wrap: break-word;">
								<p style="color:#ddd;">{{myform.startPage.introParagraph}}</p>
							</div>
						</div>
						<div class="row form-actions" style="padding-bottom:3em; padding-left: 1em; padding-right: 1em;">
							<p ng-repeat="button in myform.startPage.buttons" class="text-center" style="display:inline;">
								<button class="btn btn-info" type="button" ng-style="{'background-color':button.bgColor, 'color':button.color}">
									<a href="{{button.url}}" style="font-size: 1.6em; text-decoration: none; color: inherit;" >
										{{button.text}}
									</a>
								</button>
							</p>
						</div>
						<div class="row form-actions">
							<button class="btn btn-info btn btn-info col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" type="button">
										<span style="color:white; font-size: 1.6em; text-decoration: none;">
											{{myform.startPage.introButtonText}}
										</span>
							</button>
						</div>

					</form>
				</div>
			</div>

		</div>


	</script>

	<!-- Edit Field Modal Dialog Template -->
	<script type="text/ng-template" id="editFieldModal.html" class="edit-field-modal">
		<div class="modal-body">
			<div class="row">
				<div class="edit-panel col-md-6 col-xs-12 col-sm-12 container">
					<div class="row modal-header">
						<h2 class="modal-title hidden-md hidden-lg">{{ 'EDIT_FIELD' | translate }}</h2>
						<h3 class="modal-title hidden-xs hidden-sm">{{ 'EDIT_FIELD' | translate }}</h3>
					</div>
					<div class="row question">
					<div ng-if="field.fieldType !== 'statement'" class="row question">
						<div class="col-md-12 bold">{{ 'QUESTION_TITLE' | translate }}</div>
						<div class="col-md-12">
							<input type="text" class="form-control" ng-model="field.title" name="title{{field._id}}" value="{{field.title}}" required></div>
					</div>

					<div class="row"><br></div>

					<div class="row description" ng-hide="showRatingOptions(field)">
						<div ng-if="field.fieldType !== 'statement'" class="col-md-12 bold">{{ 'QUESTION_DESCRIPTION' | translate }}</div>
						<div ng-if="field.fieldType === 'statement'" class="col-md-12 bold">{{ 'STATEMENT' | translate }}</div>
						<div class="col-md-12">
							<textarea type="text" class="form-control" ng-model="field.description" name="description{{field._id}}"value="{{field.description}}"></textarea>
						</div>
					</div>

					<div class="row"><br></div>
					<div ng-if="field.fieldType !== 'yes_no' && field.fieldType !== 'statement' && field.fieldType !== 'section'" class="row">
						<div class="col-md-4 col-xs-12 field-title">{{ 'REQUIRED_FIELD' | translate }}</div>
						<div class="col-md-8 col-xs-12 field-input">
							<label class="switch-light switch-holo" onclick="">
								<input type="checkbox" ng-model="field.required">
								<span class="large-3 columns float-left">
									<span> {{ 'OFF' | translate }}</span>
									<span> {{ 'ON' | translate }}</span>
									<a></a>
								</span>
							</label>
						</div>
					</div>

					<div class="row" ng-show="showAddOptions(field)"><br></div>
					<div class="row" ng-if="showAddOptions(field)">
						<div class="col-md-4 col-xs-12 field-title">{{ 'OPTIONS' | translate }}</div>
						<div class="col-md-8 col-xs-12 field-input">
							<div ng-if="field.fieldType === 'dropdown'" class="row optionFrom">
								<label class="col-md-6 col-xs-6">
									<input type="radio" data-ng-value="false" ng-model="field.fieldOptionsFromFile"  ng-required="true" checked/>
									<span>{{ 'ADD_OPTIONS_MANUAL' | translate }}</span>
								</label>
								<label class="col-md-6 col-xs-6">
									<input type="radio" data-ng-value="true" ng-model="field.fieldOptionsFromFile"  ng-required="true" />
									<span>{{ 'ADD_OPTIONS_FILE' | translate }}&nbsp;<i class="glyphicon glyphicon-question-sign" uib-tooltip=".txt files are supported. Include one option per line. Do not exceed 2000 options, or there will be significant lag." tooltip-trigger="click mouseenter"></i></span> 
								</label>
							</div>
							<div ng-if="!field.fieldOptionsFromFile" class="option-panel">
								<div ng-repeat="option in field.manualOptions track by $index" class="option">
									<a class="btn btn-danger btn-mini" type="button" ng-click="deleteOption(field, option)">
										<i class="fa fa-trash-o"></i>
									</a>
									<span><input type="text" name="{{option}}{{field._id}}" ng-model="field.manualOptions[$index]"></span>
								</div>
								<div>
									<button class="btn btn-primary btn-small col-md-offset-0 col-md-6 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-6" type="button" ng-click="addOption(field)">
										<i class="icon-plus icon-white"></i>
										{{ 'ADD' | translate }}
									</button>
								</div>
							</div>
							<div ng-if="field.fieldOptionsFromFile" class="option-panel">
								<div>
									<label type="button" class="btn btn-primary btn-small">
										<span>{{ 'BROWSE' | translate }}</span>
										<input type="file" on-file-select="loadOptions(currField, files)" curr-field="field"/>
									</label>
									<span><input type="text" ng-model="field.fieldOptionsFile" placeholder="{{ 'SELECT_OPTION_FILE' | translate }}" disabled></span>
								</div>
								<div ng-if="field.loadProgress >= 0">
									<uib-progressbar class="load-file-progress progress-striped active" max="100" value="field.loadProgress" type="info">{{ field.loadProgress == 100? field.fileOptions.length + ' UNIQUE options loaded' : '' }}</uib-progressbar>
								</div>
							</div>
						</div>
					</div>

					<div class="row" ng-show="showRatingOptions(field)"><br></div>
					<div class="row" ng-if="showRatingOptions(field)">
						<div class="col-md-9 col-sm-9">{{ 'NUM_OF_STEPS' | translate }}</div>
						<div class="col-md-3 col-sm-3">
							<input style="width:100%" type="number"
								   min="1" max="10"
								   ng-model="field.ratingOptions.steps"
								   name="ratingOptions_steps{{field._id}}"
								   ng-value="{{field.ratingOptions.steps}}"
								   required>
						</div>
						<br>
						<div class="col-md-5 col-sm-9">{{ 'SHAPE' | translate }}:</div>
						<div class="col-md-7 col-sm-3">
							<select style="width:100%" ng-model="field.ratingOptions.shape"
									value="{{field.ratingOptions.steps}}"
									name="ratingOptions_shape{{field._id}}" required>
								<option ng-repeat="shape in rating_shapes"
										value="{{ shape }}">
									{{ shape }}
								</option>
							</select>
						</div>
					</div>

					<div class="row"><br></div>

<!--
					<div class="row">
						<div class="col-md-4 col-xs-12 field-input">{{ 'LOGIC_JUMP' | translate }}</div>
						<div class="col-md-8 col-xs-12 field-input">
							<label class="switch-light switch-holo" onclick="">
								<input type="checkbox" ng-model="showLogicJump">
								<span>
									<span> {{ 'OFF' | translate }}</span>
									<span> {{ 'ON' | translate }}</span>
									<a></a>
								</span>
							</label>
						</div>
					</div>
					<div class="row question" ng-if="!!showLogicJump">
						<div class="col-md-4 col-sm-12">

							<b> {{ 'IF_THIS_FIELD' | translate }} </b>
						</div>
						<div class="col-md-4 col-sm-12">
							<select style="width:100%" ng-model="field.logicJump.expressionString"
									value="{{field.logicJump.expressionString}}"
									name="logicjump_expressionString{{field._id}}">
								<option value="field == static">

									{{ 'IS_EQUAL_TO' | translate }}
								</option>
								<option value="field != static">

									{{ 'IS_NOT_EQUAL_TO' | translate }}
								</option>

								<option value="field > static" ng-if-start="field.fieldType === 'number' || field.fieldType === 'rating' || field.fieldType === 'number'">

									{{ 'IS_GREATER_THAN' | translate }}
								</option>
								<option value="field >= static">

									{{ 'IS_GREATER_OR_EQUAL_THAN' | translate }}
								</option>
								<option value="field < static">

									{{ 'IS_SMALLER_THAN' | translate }}
								</option>
								<option value="field <= static" ng-if-end>

									{{ 'IS_SMALLER_OR_EQUAL_THAN' | translate }}
								</option>

								<option value="field contains static" ng-if-start="field.fieldType !== 'number' && field.fieldType !== 'rating' && field.fieldType !== 'number'">

									{{ 'CONTAINS' | translate }}
								</option>
								<option value="field !contains static">

									{{ 'DOES_NOT_CONTAINS' | translate }}
								</option>
								<option value="field ends static">

									{{ 'ENDS_WITH' | translate }}
								</option>
								<option value="field !ends static">

									{{ 'DOES_NOT_END_WITH' | translate }}
								</option>
								<option value="field starts static">

									{{ 'STARTS_WITH' | translate }}
								</option>
								<option value="field !starts static" ng-if-end>

									{{ 'DOES_NOT_START_WITH' | translate }}
								</option>
							</select>
						</div>
						<div class="col-md-4 col-sm-12">
							<input type="text" ng-model="field.logicJump.valueB"/>
						</div>
						<div class="col-md-2">

							<b>{{ 'THEN_JUMP_TO' | translate }}</b>
						</div>
						<div class="col-md-10">
							<select style="width:100%" ng-model="field.logicJump.jumpTo"
									value="{{field.logicJump.jumpTo}}"
									name="logicjump_jumpTo{{field._id}}">
								<option ng-repeat="jump_field in myform.form_fields"
										value="{{jump_field._id}}">
									{{jump_field.title}}
								</option>
							</select>
						</div>
					</div>
-->
					<div class="modal-footer row">
						<button type="submit" ng-click="saveField()" class="btn btn-signup btn-rounded">
							{{ 'SAVE_FIELD' | translate }}
						</button>

						<button ng-click="cancel()" class="btn btn-secondary btn-rounded">
							{{ 'CANCEL' | translate }}
						</button>
					</div>
				</div>
				</div>

				<div class="preview-field-panel col-md-6 hidden-sm hidden-xs container">
					<div class="modal-header">
						<h3 class="modal-title preview-header">{{ 'PREVIEW' | translate }}</h3>
					</div>
					<form class="public-form">
						<field-directive field="field" validate="false" class="preview-field">
						</field-directive>
					</form>
				</div>
			</div>

		</div>


	</script>

	<!-- Add Fields Element -->
    <div class="col-xs-3 col-sm-4 add-field">

        <div class="row add-field-title">
            <h3 class="col-md-12 hidden-xs">{{ 'ADD_FIELD_LG' | translate }}</h3>
        </div>
        <div class="panel-group row" class="draggable" ng-model="addField.types">

            <div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="type in addField.types" style="padding-top:7.5px;">
                <div class="panel panel-default" style="background-color:#f5f5f5;">
                    <div class="panel-heading" ng-click="addNewField(false, type.name)" style="cursor: pointer; font-size:12px;">
                        <span>
                            <field-icon-directive type-name="{{type.name}}">
                            </field-icon-directive>
                        </span>

                        <span class="hidden-xs" style="padding-left:0.2em;">{{type.value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- Current Fields Element -->
	<div class="col-xs-9 col-sm-8 current-fields">
		<!-- Start Page -->
        <div class="row" ng-if="myform.startPage.showStart">
            <div class="col-sm-12">
                <div class="panel panel-default startPage" ng-click="openEditStartPageModal()">
                    <div class="panel-heading">
                        <h4 class="text-center">
                            {{ 'WELCOME_SCREEN' | translate }}
                        </h4>
                    </div>
				</div>
            </div>
        </div>

		<!-- Form Fields -->
        <div class="row">
            <div ng-show="!myform.form_fields.length" class="empty-form">
							<img src="/static/modules/core/img/placeholder.svg">
            </div>

		<div class="dropzoneContainer">
			<div class="panel-group dropzone" ui-sortable="sortableOptions" ng-model="myform.form_fields">
				<div ng-repeat="field in myform.form_fields" ng-if="!field.deletePreserved">
					<div class="row panel-row">

						<div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 panel-field">
							<div class="panel panel-default" ng-click="openEditModal(field)">
								<div class="panel-heading">
									<div class="row">
										<span class="hidden-xs col-md-1" ng-switch="field.fieldType">
											<field-icon-directive type-name="{{field.fieldType}}"></field-icon-directive>
										</span>
										<span class="col-xs-12 col-md-11 ">
											{{field.title}}
											<span ng-show="field.required">*</span>
										</span>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 panel-delete">
							<div class="tool-panel text-center">
								<div class="panel panel-default" ng-click="deleteField($index)">
									<div class="panel-heading">
									    <span class="text-center">
									        <a href="" class="fa fa-trash-o"></a>
									    </span>
									<div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

<!--             <div class="col-md-1 hidden-xs hidden-sm" style="padding:0 5px;">
                <div class="panel-group tool-panel text-center">
                    <div class="panel panel-default" ng-repeat="field in myform.form_fields track by field._id" ng-if="!field.deletePreserved">
                        <div class="panel-heading" style="padding: 10px 10px;" ng-click="duplicateField($index)">
                            <span class="text-center">
                                <a href="" class="fa fa-files-o"></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div> -->
		</div>

		<!-- End Page -->
		<div class="row" ng-if="myform.endPage.showEnd">
			<div class="col-sm-12">
				<div class="panel panel-default startPage" ng-click="openEditEndPageModal()">
					<div class="panel-heading">
						<h4 class="text-center">
							{{ 'END_SCREEN' | translate }}
						</h4>
					</div>
				</div>
			</div>
		</div>
    </div>

</form>
