<div class="config-form">
	<div class="row">
		<div class="col-sm-12">
			<h4> Share via: </h4>
			<uib-tabset active="activePill" type="pills" class="horizontal-tabs">
				<uib-tab index="0">
					<uib-tab-heading>
						<i class="glyphicon glyphicon-link"></i> {{ 'SHARE_YOUR_FORM' | translate }}
					</uib-tab-heading>
					<div class="row">
						<h5 class="col-sm-12">
							{{ 'SHARE_URL_TEXT' | translate }}
						</h5>
						<div class="col-sm-12 form-input">
							<input id="copyURL" ng-value="actualFormURL" class="form-control ng-pristine ng-untouched ng-valid" readonly>
						</div>
						<div class="col-sm-offset-5 col-sm-2">
							<button class="btn btn-signup btn-rounded hidden-sm hidden-md hidden-lg" type="button" ngclipboard data-clipboard-target=".main-tabs:not(.hidden-xs) #copyURL">{{ 'COPY' | translate }}</button>
							<button class="btn btn-signup btn-rounded hidden-xs" type="button" ngclipboard data-clipboard-target=".main-tabs:not(.hidden-sm):not(.hidden-md):not(.hidden-lg) #copyURL">{{ 'COPY' | translate }}</button>
						</div>
					</div>
				</uib-tab>
				<uib-tab index="1">
					<uib-tab-heading>
						<i class="glyphicon glyphicon-globe"></i> {{ 'EMBED_YOUR_FORM' | translate }}
					</uib-tab-heading>
					<div class="row">
						<h5 class="col-sm-12">
							{{ 'COPY_AND_PASTE' | translate }}
						</h5>
						<div class="col-sm-12 form-input">
								<textarea id="copyEmbedded" class="form-control ng-pristine ng-untouched ng-valid" style="min-height:200px; width:100%; color: #30313F; resize: vertical;">
<div style="font-family: Sans-Serif;font-size: 15px;color: #000;opacity: 0.9; padding-top: 5px; padding-bottom: 8px;">If the form below is not loaded, you can also fill it in <a href="{{actualFormURL}}" target=_blank>here</a>.</div>

&lt;!-- {{ 'CHANGE_WIDTH_AND_HEIGHT' | translate }} --&gt;
<iframe id="iframe" src="{{actualFormURL}}" style="width:100%;height:500px;"></iframe>

<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">{{ 'POWERED_BY' | translate }} <a href="https://form.sg" style="color: #999" target="_blank">FormSG</a></div>
								</textarea>
						</div>
						<div class="col-sm-offset-5 col-sm-2">
							<button class="btn btn-signup btn-rounded hidden-sm hidden-md hidden-lg" type="button" ngclipboard data-clipboard-target=".main-tabs:not(.hidden-xs) #copyEmbedded">{{ 'COPY' | translate }}</button>
							<button class="btn btn-signup btn-rounded hidden-xs" type="button" ngclipboard data-clipboard-target=".main-tabs:not(.hidden-sm):not(.hidden-md):not(.hidden-lg) #copyEmbedded">{{ 'COPY' | translate }}</button>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</div>
