<div class="config-form row">
	<div class="row">
		<uib-tabset active="activePill" type="pills">
			<uib-tab index="0" heading="{{ 'SHARE_YOUR_FORM' | translate }}">
				<div class="row">
					<div class="col-sm-12">
						{{ 'TELLFORM_URL' | translate }}
					</div>
					<div class="col-sm-8 form-input">
						<span ngclipboard data-clipboard-target="#copyURL"> <input id="copyURL" ng-value="actualFormURL" class="form-control ng-pristine ng-untouched ng-valid"> </span>
					</div>
					<div class="col-sm-4">
						<button class="btn btn btn-secondary view-form-btn" ngclipboard data-clipboard-target="#copyURL">
							{{ 'COPY' | translate }} <i class="fa fa-clipboard" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</uib-tab>
			<uib-tab index="1" heading="{{ 'EMBED_YOUR_FORM' | translate }}">
				<div class="row">
					<div class="col-sm-12">
						{{ 'COPY_AND_PASTE' | translate }}
					</div>
					<div class="col-sm-8 form-input">
						<span ngclipboard data-clipboard-target="#copyEmbedded">
							<div id="copyEmbedded" class="form-control">
								 {{ fullScreen }}
							</div>
						</span>
					</div>
					<div class="col-sm-4">
						<button class="btn btn btn-secondary view-form-btn" ngclipboard data-clipboard-target="#copyEmbedded">
							{{ 'COPY' | translate }} <i class="fa fa-clipboard" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>