Password Reset Request
---
Hi,

if you have not requested a new password you can ignore this email. To set a new password for your account
just follow this link: {{ recover }}

See you soon
---
<h1>Hi, </h1>

<p>
  if you have not requested a new password you can ignore this email. To set a new password for your account
  just follow this link: <a href="{{ recover }}">{{ recover }}</a>
</p>

<p>
  See you soon
</p>
