Welcome to OhMyForm
---
Welcome to OhMyForm!

please confirm your account by following the following link: {{ confirm }}

enjoy!
---
<h1>Welcome to OhMyForm!</h1>
<p>
  please confirm your account by following the following link: <a href="{{ confirm }}">{{ confirm }}</a>
</p>

<p>enjoy!</p>
