<header data-ng-include="'/static/modules/core/views/header.client.view.html'"></header>

<section class="row valign my-account" data-ng-controller="SettingsController">
		<div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
			<h3>{{ 'VIEW_ACCOUNT' | translate }}</h3>
			<hr>
			<div class="form-group">
				<label for="email">{{ 'EMAIL_LABEL' | translate }}</label>
				<input type="email" id="email" name="email" class="form-control" ng-model="user.email" readonly>
			</div>

			<div class="form-group">
				<label for="agency">{{ 'AGENCY_LABEL' | translate }}</label>
				<input type="text" id="agency" name="agency" class="form-control" ng-model="user.agency.fullName" readonly>
			</div>

			<p class="account-gap"></p>

			<h3>{{ 'CHANGE_PASSWORD' | translate }}</h3>
			<hr>

			<form data-ng-submit="changeUserPassword()" class="signin" autocomplete="off">
				<div class="form-group">
					<label for="currentPassword">{{ 'CURRENT_PASSWORD_LABEL' | translate }}</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="{{ 'CURRENT_PASSWORD_LABEL' | translate }}">
				</div>
				<div class="form-group">
					<label for="newPassword">{{ 'NEW_PASSWORD_LABEL' | translate }}</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="{{ 'NEW_PASSWORD_LABEL' | translate }}">
				</div>
				<div class="form-group">
					<label for="verifyPassword">{{ 'VERIFY_PASSWORD_LABEL' | translate }}</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="{{ 'VERIFY_PASSWORD_LABEL' | translate }}">
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-signup btn-rounded">
						{{ 'SAVE_PASSWORD_BTN' | translate }}
					</button>
				</div>
				<div data-ng-show="success" class="text-success">
					<strong>{{ 'PASSWORD_CHANGE_SUCCESS' | translate }}</strong>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

				<p class="account-gap"></p>

			</form>
			</div>

		</div>
</section>
