<div class="row">
    <div class="col-sm-offset-2">
        <div class="row field" ng-if="formHasEmailField">
            <div class="field-title col-sm-12">
                <h5>{{ 'SEND_NOTIFICATION_TO' | translate }}</h5>
            </div>

            <div class="col-xs-12 field-input">
                <ui-select ng-model="myform.respondentNotifications.toField"
                        theme="selectize"
                        search-enabled="true"
                        search-by="title"
                        set-search-to-answer="true"
                        ng-required="true">
                    <ui-select-match placeholder="{{ 'OPTION_PLACEHOLDER' | translate }}">
                    </ui-select-match>
                    <ui-select-choices repeat="field in emailFields | filter: $select.search" ng-class="{'active': field._id === myform.respondentNotifications.toField }">
                        <span ng-bind-html="field.title | highlight: $select.search">
                        </span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="row field" ng-else>
            {{ 'NO_EMAIL_FIELD_WARNING' | translate }}
        </div>

        <div class="row field">
            <div class="field-title col-xs-12">
                <h5>{{ 'REPLY_TO' | translate }}</h5>
            </div>

            <div class="col-xs-12 field-input">
                <input class="form-control"
                       type="text"
                       ng-model="myform.respondentNotifications.replyEmail"
                       placeholder="noreply@tellform.com">
            </div>
        </div>

        <div class="row field">
            <div class="field-title col-sm-12">
                <h5>{{ 'EMAIL_SUBJECT' | translate }}</h5>
            </div>
            <div class="col-sm-12">
                <text-angular class="email-subject" ng-model="myform.respondentNotifications.subject" ta-toolbar="[['insertField']]" ta-default-wrap="n"></text-angular>
            </div>
        </div>

        <div class="row field">
            <div class="field-title col-sm-12">
                <h5>{{ 'EMAIL_MESSAGE' | translate }}</h5>
            </div>

            <div class="col-sm-12">
                <text-angular class="email-subject" ng-model="myform.respondentNotifications.htmlTemplate" ta-toolbar="[['bold','italics', 'insertField']]"></text-angular>
            </div>
        </div>

         <div class="row field">
            <div class="field-title col-sm-12">
                <h5>{{ 'ENABLE_RESPONDENT_NOTIFICATIONS' | translate }}</h5>
            </div>

            <div class="field-input col-sm-12">

                <label style="display: inline-block;">
                    <input type="radio" data-ng-value="true" ng-model="myform.respondentNotifications.enabled"  ng-required="true" style="background-color:#33CC00;"/>
                    &nbsp;<span>{{ 'YES' | translate }}</span>
                </label>

                <label style="display: inline-block;">
                    <input type="radio" data-ng-value="false" ng-model="myform.respondentNotifications.enabled"  ng-required="true" />
                    &nbsp;<span>{{ 'NO' | translate }}</span>
                </label>
                
            </div>
        </div>
    </div>
</div>