<div class="row">
    <div class="col-sm-offset-2">
        <div class="row field">
            <div class="field-title col-sm-12">
                <h5>{{ 'SEND_NOTIFICATION_TO' | translate }}</h5>
            </div>

            <div class="col-sm-12">
                <input class="form-control"
                       type="text"
                       ng-model="myform.selfNotifications.toEmails"
                       placeholder="email@domain.com,email2@domain2.com,etc">
            </div>
        </div>

        <div class="row field" ng-if="formHasEmailField">
            <div class="field-title col-sm-12">
                <h5>{{ 'REPLY_TO' | translate }}</h5>
            </div>

            <div class="col-xs-12 ui-select">
                <ui-select ng-model="myform.selfNotifications.fromField" theme="selectize">
                    <ui-select-match placeholder="{{ 'OPTION_PLACEHOLDER' | translate }}">
                    {{$select.selected.title}}
                    </ui-select-match>
                    <ui-select-choices repeat="field.globalId as field in emailFields | filter: { title: $select.search }">
                        <span ng-bind-html="field.title | highlight: $select.search">
                        </span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="row field">
            <div class="field-title col-sm-12">
                <h5>{{ 'EMAIL_SUBJECT' | translate }}</h5>
            </div>

            <div class="col-sm-12">
                <text-angular class="email-subject" ng-model="myform.selfNotifications.subject" ta-toolbar="[['insertField']]" ta-default-wrap="n"></text-angular>
            </div>
        </div>

        <div class="row field">
            <div class="field-title col-sm-12">
                <h5>{{ 'EMAIL_MESSAGE' | translate }}</h5>
            </div>

            <div class="col-sm-12">
                <text-angular ng-model="myform.selfNotifications.htmlTemplate" ta-toolbar="[['bold','italics', 'insertField']]"></text-angular>
            </div>
        </div>

         <div class="row field">
            <div class="field-title col-sm-12">
                <h5>{{ 'ENABLE_SELF_NOTIFICATIONS' | translate }}</h5>
            </div>

            <div class="field-input col-sm-12">

                <label style="display: inline-block;">
                    <input type="radio" data-ng-value="true" ng-model="myform.selfNotifications.enabled"  ng-required="true" style="background-color:#33CC00;"/>
                    &nbsp;<span>{{ 'ENABLED' | translate }}</span>
                </label>

                <label style="display: inline-block;">
                    <input type="radio" data-ng-value="false" ng-model="myform.selfNotifications.enabled"  ng-required="true" />
                    &nbsp;<span>{{ 'DISABLED' | translate }}</span>
                </label>
                
            </div>
        </div>
    </div>
</div>