<div class="row">
        <div class="add-field col-xs-3">
                <select ng-model="addField.new" ng-options="type.name as type.value for type in addField.types"></select>
                <button type="submit" class="btn" ng-click="addNewField()">
                	<i class="icon-plus"></i> Add Field
                </button>
                <div class="panel-group">
                    <div class="panel panel-default" ng-repeat="type in addField.types">
                        <div class="panel-heading">
                            <span class="pull-left" ng-switch="type.name">
                                <i class="fa fa-pencil-square-o" ng-switch-when="textfield"></i>
                                <i class="fa fa-th-list" ng-switch-when="dropdown"></i>
                                <i class="fa fa-calendar" ng-switch-when="date"></i>
                                <i class="fa fa-check-square" ng-switch-when="checkbox"></i>
                                <i class="fa fa-dot-circle-o" ng-switch-when="radio"></i>
                                <i class="fa fa-envelope-o" ng-switch-when="email"></i>
                                <i class="fa fa-pencil-square-o" ng-switch-when="textarea"></i>
                            </span>
                            <span style="padding-left:1em;">{{type.value}}</span>
                        </div>
                    </div>
                </div>
        </div>

    	<div class="col-sm-3 col-md-8 current-fields">
            <div class="inside">
            <p ng-show="form.form_fields.length == 0">No fields added yet.</p>
            <accordion close-others="accordion.oneAtATime">
                <accordion-group ng-repeat="field in form.form_fields" is-open="accordion[$index].isOpen">
                    <accordion-heading>
                    <div>
                        <span class="pull-left" ng-switch="field.fieldType">
                            <i class="fa fa-pencil-square-o" ng-switch-when="textfield"></i>
                            <i class="fa fa-th-list" ng-switch-when="dropdown"></i>
                            <i class="fa fa-calendar" ng-switch-when="date"></i>
                            <i class="fa fa-check-square" ng-switch-when="checkbox"></i>
                            <i class="fa fa-dot-circle-o" ng-switch-when="radio"></i>
                            <i class="fa fa-envelope-o" ng-switch-when="email"></i>
                            <i class="fa fa-pencil-square-o" ng-switch-when="textarea"></i>
                        </span>
                        <span style="padding-left:3em;">{{field.title}}</span>
                        <span class="pull-right">
                            <i class="fa fa-trash-o" ng-click="deleteField(field.client_id)"></i>
                            <!-- <i class="fa fa-chevron-right" ng-hide="accordion[$index].isOpen"></i>
                            <i class="fa fa-chevron-down" ng-show="accordion[$index].isOpen"></i -->
                        </span>
                    </div>
                    </accordion-heading>
                    <div class="accordion-edit">
                        <!-- <button class="btn btn-danger pull-right" type="button" ng-click="deleteField(field.client_id)"><i class="icon-trash icon-white"></i> Delete</button> -->

                        <div class="clear"></div> <hr>
                        <div class="row">
                            <div class="span2">Field Type:</div>
                            <div class="span4">{{field.fieldType}}</div>
                        </div>
                        <div class="row">
                            <div class="span2">Field Title:</div>
                            <div class="span4"><input type="text" ng-model="field.title" value="{{field.title}}"></div>
                        </div>
                        <div class="row">
                            <div class="span2">Field Default Value:</div>
                            <div class="span4"><input type="text" ng-model="field.fieldValue" value="{{field.fieldValue}}"></div>
                        </div>
                        <div class="row" ng-show="showAddOptions(field)">
                            <div class="span2">Field Options:</div>
                            <div class="span6">
                                <div ng-repeat="option in field.field_options">
                                    <input type="text" ng-model="option.option_title" value="{{option.option_title}}">
                                    <a class="btn btn-danger btn-mini right" type="button" ng-click="deleteOption(field, option)"><i class="icon-minus icon-white"></i></a>
                                    <span class="label label-inverse">Value: {{ option.option_value }}</span>
                                </div>
                                <button class="btn btn-primary btn-small" type="button" ng-click="addOption(field)"><i class="icon-plus icon-white"></i> Add Option</button>
                            </div>
                        </div>

    					<div class="clear"></div> <hr>

                        <div class="row">
                            <div class="span2">Required:</div>
                            <div class="span4">
                                <label>
                                    <input type="radio" ng-value="true" ng-selected ng-model="field.required"/>
                                    &nbsp; Yes
                                </label>
                                <label>
                                    <input type="radio" ng-value="false" ng-model="field.required"/>
                                    &nbsp; No
                                </label>
                            </div>
                        </div>
    					
    					<div class="clear"></div> <hr>

    					<div class="row">
    						<div class="span2">Disabled:</div>
                            <div class="span4">
                                <label>
                                    <input type="radio" ng-value="true" ng-selected ng-model="field.disabled"/>
                                    &nbsp; Yes
                                </label>
                                <label>
                                    <input type="radio" ng-value="false" ng-model="field.disabled"/>
                                    &nbsp; No
                                </label>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
            </div>
        </div>

</div>