<div cg-busy="{promise:submitPromise,message:'Submitting form...',backdrop:true}"></div>

<section class="overlay" ng-if="selected" ng-click="hideOverlay()"></section>

<div ng-show="!form.submitted && startPage && form.showStart" class="form-submitted">
    <div class="field row text-center">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <h1>Welcome to {{form.title}}</h1>
        </div>
    </div>
    <div class="row form-actions">
        <p class="text-center col-xs-4 col-xs-offset-4">
            <button class="btn btn-info" type="button">
                <a ng-click="exitStartPage()" style="color:white; font-size: 1.6em; text-decoration: none;" > Continue to Form</a>
            </button>
        </p>
    </div>
</div>

<div ng-hide="form.submitted || startPage" data-ng-init="initFocus()">
    <div class="field row" style="padding-bottom:5em;">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>{{ form.title }} <span style="font-size:0.8em; color: #bbb;" ng-if="!form.isLive">(private preview)</span></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <form name="myForm" class="submission-form col-sm-offset-1 col-sm-10">
                <div ng-repeat="field in form.form_fields"  ng-if="!field.deletePreserved" ng-class="{activeField: selected == field._id }" class="row field-directive">
                    <field-directive field="field" >
                    </field-directive>
                </div>
        </form>
    </div>

    <hr>

    <div class="row form-actions">
        <button class="btn btn-success col-sm-2 col-sm-offset-5" type="button" ng-disabled="myForm.$invalid" ng-click="submit()" style="font-size: 1.6em;">
            Submit
        </button>
    </div>
</div>

<div ng-show="form.submitted && !startPage" class="form-submitted">

    <!-- <div class="field row">
        <div class="col-sm-11 col-sm-offset-1"><h1>{{ form.title }}</h1>
        <hr>
        </div>
    </div> -->

    <div class="field row text-center">
        <div class="col-xs-6 col-xs-offset-3 text-center">Form entry successfully submitted!<br><br> Please take a seat and wait for your number to be called!</div>
    </div>
    <div class="row form-actions">
        <p class="text-center col-xs-4 col-xs-offset-4">
            <button class="btn btn-info" type="button">
                <a ng-click="reloadForm()" style="color:white; font-size: 1.6em; text-decoration: none;" > Go back to Form</a>
            </button>
        </p>
        <!-- <p class="text-center col-xs-2" ng-if="authentication.isAuthenticated()">
            <button class="btn btn-caution left" type="button">
                <a href="/#!/forms/{{form._id}}/admin" style="color:white; font-size: 1.6em; text-decoration: none;">Edit Form</a>
            </button>
        </p> -->
    </div>
</div>