<section class="overlay submitform" ng-if="loading || (!myform.submitted && !myform.startPage.showStart)"></section>

<!-- Start Page View -->
<div ng-show="!myform.submitted && myform.startPage.showStart" 
class="form-submitted" 
style="padding-top: 35vh;">
<div class="row">
<div class="col-xs-12 text-center" style="overflow-wrap: break-word;">
<h1 style="font-weight: 400; nont-size: 25px;">
{{myform.startPage.introTitle}}
</h1>
</div>
<div class="col-xs-10 col-xs-offset-1 text-center" style="overflow-wrap: break-word;">
<p style="color: grey; font-weight: 100; font-size: 16px;">
{{myform.startPage.introParagraph}}
</p>
</div>
</div>

<div class="row form-actions text-center" style="padding: 5px 25px 5px 25px;">
<button ng-click="exitStartPage()" class="btn" type="button"
ng-style="{'background-color':myform.design.colors.buttonColor, 'color':myform.design.colors.buttonTextColor}">
<span style="font-size: 1.6em;">
{{myform.startPage.introButtonText}}
</span>
</button>
</div>
<div class="row form-actions" style="padding-bottom:3em; padding-left: 1em; padding-right: 1em;">
<p ng-repeat="button in myform.startPage.buttons" class="text-center" style="display:inline;">
<button class="btn" style="background-color:rgb(156, 226, 235)" type="button" ng-style="{'background-color':button.bgColor, 'color':button.color}">
<a href="{{button.url}}" 
style="font-size: 1.6em; text-decoration: none;" 
ng-style="{'color':button.color}">
{{button.text}}
</a>
</button>
</p>
</div>
</div>

<!-- Form Fields View -->
<div class="form-fields" ng-show="!myform.submitted && !myform.startPage.showStart"
    ng-style="{ 'border-color': myform.design.colors.buttonTextColor }">

	<div class="row">
		<form name="forms.myForm"
		novalidate
		class="submission-form col-sm-12 col-md-offset-1 col-md-10">

		<div ng-repeat="field in myform.form_fields"
		ng-if="!field.deletePreserved"
		data-index="{{$index}}"
		data-id="{{field._id}}"
		ng-class="{activeField: selected._id == field._id }"
		class="row field-directive">
			<field-directive field="field" design="myform.design" index="$index" forms="forms">
			</field-directive>
		</div>

		</form>
</div>


<div class="row form-actions" id="submit_field"
	ng-class="{activeField: selected._id == 'submit_field' }"
	ng-style="{ 'background-color':myform.design.colors.buttonColor}"
	style="border-top: 1px solid #ddd; margin-right: -13%; margin-left: -13%; padding-bottom: 70vh; margin-bottom: 70vh; margin-top: 30vh;">

	<div class="col-xs-12 text-left"
		 style="background-color:#990000; color:white;"
		 ng-if="forms.myForm.$invalid">
		{{form_fields_count - (myform | formValidity)}} answer(s) need completing
	</div>

	<button ng-if="!forms.myForm.$invalid"
		class="Button btn col-sm-2 col-xs-8 focusOn"
		v-busy="loading" v-busy-label="Please wait" v-pressable
		ng-disabled="loading"
		ng-click="submitForm()"
		ng-style="{'background-color':myform.design.colors.buttonColor, 'color':myform.design.colors.buttonTextColor}"
		style="font-size: 1.6em; margin-left: 1em; margin-top: 1em;">

		Submit
	</button>

	<button ng-if="forms.myForm.$invalid"
			class="Button btn col-sm-2 col-xs-8"
			ng-click="goToInvalid()"
			style="font-size: 1.6em; margin-left: 1em; margin-top: 1em; background-color:#990000; color:white">
		Review
	</button>

	<div class="col-sm-2 hidden-xs" style="font-size: 75%; margin-top:3.25em">
		<small>
			press ENTER
		</small>
	</div>
</div>

<section ng-if="!myform.hideFooter" class="navbar navbar-fixed-bottom" 
        ng-style="{ 'background-color':myform.design.colors.buttonColor, 'padding-top': '15px', 'border-top': '2px '+ myform.design.colors.buttonTextColor +' solid', 'color':myform.design.colors.buttonTextColor}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-xs-5" ng-show="!myform.submitted">
                        <p class="lead">{{myform | formValidity}} out of {{form_fields_count}} answered</p>
                </div>
                <div class="col-md-6 col-md-offset-0 col-sm-offset-2 col-sm-3 col-xs-offset-1 col-xs-6 row">
                    <div class="col-md-4 col-md-offset-2 hidden-sm hidden-xs" ng-if="!authentication.isAuthenticated()">
                        <a href="/#!/forms" class="btn"
                            ng-style="{'background-color':myform.design.colors.buttonColor, 'color':myform.design.colors.buttonTextColor}">
                            Create a TellForm
                        </a>
                    </div>
                    <div class="col-md-4 col-md-offset-2 hidden-sm hidden-xs" ng-if="authentication.isAuthenticated()">
                        <a href="/#!/forms/{{myform._id}}/admin/create" 
                            ng-style="{'background-color':myform.design.colors.buttonColor, 'color':myform.design.colors.buttonTextColor}"
                            class="btn">
                            Edit this TellForm
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-10 col-md-offset-0 col-sm-offset-2 col-xs-12 row">
                        <button class="btn btn-lg col-xs-6" id="focusDownButton"
				            ng-style="{'background-color':myform.design.colors.buttonColor, 'color':myform.design.colors.buttonTextColor}"
                            ng-click="nextField()" 
				            ng-disabled="selected.index > myform.form_fields.length-1">
                        	<i class="fa fa-chevron-down"></i>
                        </button>
                        <button class="btn btn-lg col-xs-6" id="focusUpButton"
                            ng-style="{'background-color':myform.design.colors.buttonColor, 'color':myform.design.colors.buttonTextColor}"
                            ng-click="prevField()" 
                            ng-disabled="selected.index == 0">
                        	<i class="fa fa-chevron-up"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- End Page View -->
<div ng-if="myform.submitted && !loading" class="form-submitted"
    ng-style="{'color':myform.design.colors.buttonTextColor}"
    style="padding-top: 5vh;">

    <div class="field row text-center">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">Form entry successfully submitted!</div>
    </div>
    <div class="row form-actions">
        <p class="text-center">
            <button ng-click="reloadForm()" class="btn" type="button"
                ng-style="{'background-color':myform.design.colors.buttonColor, 'color':myform.design.colors.buttonTextColor}">
                <span style="font-size: 1.6em;"> Go back to Form</span>
            </button>
        </p>
    </div>
</div>
