<div ng-hide="form.submitted">

    <div class="field row" style="padding-bottom:5em;">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>{{ form.title }}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <form name="form" class="submission-form col-sm-offset-1 col-sm-10" name="form" ng-model="form" ng-repeat="field in form.form_fields" >
                <field-directive field="field" ng-if="!field.deletePreserved">
                </field-directive>
        </form>
    </div>
    <hr>
    <div class="row form-actions">
        <button class="btn btn-success col-sm-2 col-sm-offset-5" type="button" ng-disabled="myForm.$valid" ng-click="submit()" style="font-size: 1.6em;">
                <i class="icon-edit icon-white"></i> submit 
        </button>
    </div>
</div>

<div ng-show="form.submitted">

    <div class="field row">
        <div class="col-sm-11 col-sm-offset-1"><h1>{{ form.title }}</h1>
        <hr>
        </div>
    </div>

    <br>
    <br>
    <div class="field row text-center">
    <h4 class="col-xs-6 col-xs-offset-1 text-left">Form entry successfully submitted!<br> What would you like to do next?</h4>
    </div>
    <br><br><br><br><br>
    <div class="row form-actions">
        <p class="text-center col-xs-3 col-xs-offset-4">
            <button class="btn btn-success left" type="button">
                <a href="#" ng-click="reloadForm()" style="color:white;"> Submit again?</a>
            </button>
        </p>
        <p class="text-center col-xs-2" ng-if="authentication.isAuthenticated()">
            <button class="btn btn-caution left" type="button">
                <a href="/#!/forms/{{form._id}}/admin" style="color:white;">Edit Form</a>
            </button>
        </p>
    </div>
</div>