.ui-select input.form-control {
    height: 34px;
    padding: 6px;
}

.config-form .btn-secondary {
    border-color: #DDDDDD;
}

.notification-toggle.toggle-switch {
    margin: 5px 0;
}

.ql-picker.ql-placeholder {
  width: 118px;
}

.ql-picker.ql-placeholder > span.ql-picker-label:before {
  content: attr(data-before);
}

.ql-picker.ql-placeholder > span.ql-picker-options > span.ql-picker-item::before {
  content: attr(data-label);
}