.submissions-table {
	width: inherit;
}

.button-panel, .date-filter-panel {
	margin: 10px 0;
}

.date-filter-panel label {
	margin-top: 5px;
	text-align: center;
}

.date-filter-panel label,
.date-filter-panel div {
	padding: 0;
}
.date-filter-panel .input-group input {
	height: 34px;
	border-left: 0;
	font-size: 14px;
}
.date-filter-panel .input-group input:focus {
	border-color: #ccc;
	box-shadow: none;
}
.date-filter-panel .input-group-addon.transparent {
	opacity: 1;
}
.date-filter-panel button[disabled] {
	background-color: #eee;
}

.ui-grid {
	border: 0;
	text-align: center;
}

.ui-grid-header {
	border-top: 1px solid #d4d4d4;
}

.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
	pointer-events: initial;
}

.ui-grid-pager-panel {
	position: inherit;
}

.ui-grid-pager-container,
.ui-grid-pager-count-container {
	margin: 10px 0;
}

.ui-grid-pager-panel abbr[title] {
	border-bottom: none;
	cursor: inherit;
	text-decoration: none;
}

.ui-grid-pager-row-count-label {
	display: none;
}
