.field-title-row {
	padding-top: 2em;
	padding-bottom:1em;
	border-top: #fafafa solid 1px;
	font-size: 1.2em;
	color: #bab8b8;
	text-transform: uppercase;
}
.field-detailed-row {
	font-size: 1.2em;
	padding-bottom:0.3em;
}

.table-tools {
	border-top: #fafafa solid 1px;
	padding-top: 2.5em;
}
