share-form-directive #copyEmbedded {
	min-height: fit-content;
	width: 100%; 
	background-color: #36404B; 
	color: white;
	padding: 18px;
}

share-form-directive .tab-content {
	padding-top: 50px;
}

share-form-directive .config-form {
	max-width: 100%;
}

share-form-directive .config-form > .row {
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}