doctype html
html
  head
  body(style='padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%', marginheight='0', marginwidth='0')
    | @import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,latin-ext);
    style a {
      color: #007ee6;
      text-decoration: none;
    }
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    center
      table(cellpadding='8', cellspacing='0', style='*width: 540px; padding: 0; width: 100% !important; background: #ffffff; margin: 0; background-color: #ffffff', border='0')
        tbody
          tr
            td(valign='top')
              table(cellpadding='0', cellspacing='0', style='border-radius: 6px; -webkit-border-radius: 6px; border: 1px #c0c0c0 solid; -moz-border-radius: 6px', border='0', align='center')
                tbody
                  tr
                    td(colspan='3', height='6')
                  tr
                    td
                      table(cellpadding='0', cellspacing='0', style='line-height: 25px', border='0', align='center')
                        tbody
                          tr
                            td(colspan='3', height='30')
                          tr
                            td(width='36')
                            td(width='454', align='left', style='color: #444444; border-collapse: collapse; font-size: 11pt; font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; max-width: 454px', valign='top')
                              p Hello there!
                              p Welcome to TellForm! Here is a special link to activate your new account:
                              p
                                a(href='https://${URL}') Activate my account
                              p
                                | Thanks so much for using our services! If you have any questions, or suggestions, please feel free to email us here at 
                                a(href='mailto:team@tellform.com') team@tellform.com
                                | .
                              p - The TellForm team
                            td(width='36')
                          tr
                            td(colspan='3', height='36')
              table(cellpadding='0', cellspacing='0', align='center', border='0')
                tbody
                  tr
                    td(height='10')
                  tr
                    td(style='padding: 0; border-collapse: collapse')
                      table(cellpadding='0', cellspacing='0', align='center', border='0')
                        tbody
                          tr(style='color: #c0c0c0; font-size: 11px; font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; -webkit-text-size-adjust: none')
                            td(width='400', align='left')
                            td(width='128', align='right') © TellForm 2017
