<div class="row share-row">
	<div class="col-sm-12">
		{{ 'COPY_AND_PASTE' | translate }}
	</div>
</div>
<div class="row">
	<div class="col-sm-10 form-input">
		<span ngclipboard data-clipboard-target="#copyEmbedded">
			<div id="copyEmbedded" class="form-control">
				 {{ fullScreen }}
			</div>
		</span>
	</div>
	<div class="col-sm-2">
		<button class="btn btn-secondary view-form-btn" ngclipboard data-clipboard-target="#copyEmbedded">
			{{ 'COPY' | translate }} <i class="fa fa-clipboard" aria-hidden="true"></i>
		</button>
	</div>
</div>