<div class="row share-row">
	<div class="col-sm-12">
		{{ 'OHMYFORM_URL' | translate }}
	</div>
</div>
<div class="row">
	<div class="col-sm-10 form-input">
		<span>
			<input id="copyURL" ng-value="actualFormURL" class="form-control ng-pristine ng-untouched ng-valid">
		</span>
	</div>
	<div class="col-sm-2">
		<button class="btn btn-secondary view-form-btn"
			ngclipboard data-clipboard-target="#copyURL" ngclipboard-success="onCopySuccess()">
			<span ng-if="!isCopied">
				{{ 'COPY' | translate }} <i class="fa fa-clipboard" aria-hidden="true"></i>
			</span>
			<span ng-if="isCopied">
				{{ 'COPIED_LABEL' | translate }}
			</span>
		</button>
	</div>
</div>
