<div class="date-field field row">
  <div class="col-xs-12 field-title row-fluid">
		<h3 class="col-xs-12">
			<small class="field-number">
				{{ field.field_number? field.field_number : 1 }}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>

			{{ field.title }}

  		<small class="optional-label" ng-show="!field.required">
  			({{ 'OPTIONAL' | translate }})
  		</small>
		</h3>

		<p class="col-xs-12 field-description">
			<small>{{ field.description }}</small>
		</p>
	</div>
	<div class="col-xs-12 field-input">
		<div class="input-group" ng-click="setActiveField(field, false)">
			<input id="{{ field._id }}"
             readonly
						 validate-date
						 class="form-control focusOn"
						 ui-date="dateOptions"
						 ng-model="field.fieldValue"
						 ng-required="field.required"
						 ng-disabled="field.disabled">
			<span class="input-group-btn">
				<button type="button"
					class="btn"
					ng-click="field.fieldValue = null"
					ng-disabled="!field.fieldValue">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
			</span>
		</div>
	</div>
</div>
