<div class="dropdown field row">
  <div class="col-xs-12 field-title row-fluid">
		<h3 class="col-xs-12">
			<small class="field-number">
				{{ field.field_number? field.field_number : 1 }}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>

			{{ field.title }}

  		<small class="optional-label" ng-show="!field.required">
  			({{ 'OPTIONAL' | translate }})
  		</small>
		</h3>

		<p class="col-xs-12 field-description">
			<small>{{ field.description }}</small>
		</p>
	</div>
	<div class="col-xs-12 field-input" ng-click="setActiveField(field, false)">
    <div class="input-group">
  		<ui-select id="{{ field._id }}"
                 class="focusOn"
                 theme="selectize"
  							 search-enabled="true"
  							 ng-model="field.fieldValue"
  							 ng-required="field.required"
  							 ng-disabled="field.disabled">
  			<ui-select-match>
  				{{ $select.selected }}
  			</ui-select-match>
  			<ui-select-choices repeat="option in getFieldOptions() | filter: $select.search">
  				<span ng-bind-html="option | highlight: $select.search"></span>
  			</ui-select-choices>
  		</ui-select>
      <span class="input-group-btn">
        <button type="button"
          class="btn"
          ng-click="field.fieldValue = null"
          ng-disabled="!field.fieldValue">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </div>
	</div>
</div>
