<div class="field row" ng-if="form.autofillPDFs" ng-click="setActiveField(field._id, index, true)">
	<div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
		<h3>
			<small class="field-number">
				{{index+1}}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>
			{{field.title}}
			<span class="required-error" ng-show="!field.required">{{ 'OPTIONAL' | translate }}</span>
		</h3>
	</div>
    <div class="col-sm-8 field-input">
        <div class="input-group ">
            <div tabindex="-1" class="form-control file-caption">
                <span class="file-caption-ellipsis" ng-if="!form.pdf">…</span>
                <div class="file-caption-name" ng-if="form.pdf">
                    {{field.file.originalname}}
                </div>
            </div>
            <div class="input-group-btn">
                <button type="button"  ng-if="field.file" ng-click="removeFile(field);" title="Clear selected files" class="btn btn-danger fileinput-remove fileinput-remove-button">
                    <i class="glyphicon glyphicon-trash"  ></i>
                    {{ 'DELETE' | translate }}
                </button>

                <button type="button" ng-if="field.fileLoading" title="Abort ongoing upload" class="btn btn-default" ng-click="cancelFileUpload(field)">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    {{ 'CANCEL' | translate }}
                </button>

                <div class="btn btn-success btn-file" ngf-select ngf-change="uploadPDF($files)" ng-if="!field.file">
                    <i class="glyphicon glyphicon-upload"></i>
                    {{ UPLOAD_FILE | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
