<div class="field row radio legal"
	 on-enter-key="nextField()"
	 key-to-truthy key-char-truthy="y" key-char-falsey="n" field="field">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">    	
    	<h3>
			<small class="field-number">
				{{index+1}}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>
			{{field.title}}
			<span class="required-error" ng-show="!field.required">optional</span>
		</h3>
    	<br>
    	<p style="color:#ddd;">{{field.description}}</p>
    </div>
    <div class="col-xs-12 field-input container">
		<div class="row-fluid">
            <label class="btn col-md-5 col-xs-12"
				   ng-class="{activeBtn: field.fieldValue == 'true'}">
                <input class="focusOn"
				    ng-focus="setActiveField(field._id, index, true)"
                    ng-style="{'color': design.colors.answerColor, 'border-color': design.colors.answerColor}" 
                    type="radio" value="true"
                    ng-model="field.fieldValue" 
                    ng-model-options="{ debounce: 250 }"
                    ng-required="field.required" 
                    ng-disabled="field.disabled"
					ng-change="$root.nextField()"/>
				<div class="letter" style="float:left">
					Y
				</div>
                <span> I accept </span>
            </label>
            <label class="btn col-md-5 col-md-offset-1 col-xs-12"
				   ng-class="{activeBtn: field.fieldValue == 'false'}">
                <input class="focusOn"
					ng-style="{'color': design.colors.answerColor, 'border-color': design.colors.answerColor}"
                    type="radio" value="false"
                    ng-model="field.fieldValue" 
                    ng-model-options="{ debounce: 250 }"
                    ng-required="field.required"
                    ng-disabled="field.disabled"
					ng-change="$root.nextField()"/>
				<div class="letter" style="float:left">
					N
				</div>
                <span>I don't accept </span>
            </label>
        </div>
       
    </div>
</div>
<br>
