<div class="textfield field row"
	 on-enter-key="nextField()">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
	    <h3>
			<small class="field-number">
				{{index+1}}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>
	    	{{field.title}}
	    	<span class="required-error" ng-show="!field.required">{{ 'OPTIONAL' | translate }}</span>
	    </h3>
    </div>
    <div class="col-xs-12 field-input">
		<input-stars max="5"
					 ng-init="field.fieldValue = 1"
					 on-star-click="$root.nextField()"
					 icon-full="fa-star"
					 icon-base="fa fa-3x"
					 icon-empty="fa-star-o"
					 ng-model="field.fieldValue"
					 ng-model-options="{ debounce: 250 }"
					 ng-required="field.required"
					 ng-disabled="field.disabled"
					 class="angular-input-stars focusOn">
		</input-stars>
    </div>
</div>
