<div class="textfield field row">
	<div class="col-xs-12 field-title row-fluid">
		<h3 class="col-xs-12">
			<small class="field-number">
				{{ index+1  }}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>

			{{ field.title }}

  		<small class="optional-label" ng-show="!field.required">
  			({{ 'OPTIONAL' | translate }})
  		</small>
		</h3>

		<p class="col-xs-12">
			<small>{{ field.description }}</small>
		</p>
	</div>
	<div class="col-xs-12 field-input">
		<input type="{{ input_type }}"
			name="{{ field.fieldType }}{{ index }}"
			class="focusOn textfield-input"
			ng-class="{ 'no-border': !!field.fieldValue }"
			ng-model="field.fieldValue"
			ng-model-options="{ debounce: 250 }"
			ng-required="field.required"
			ng-disabled="field.disabled"
			placeholder="{{ placeholder }}">
	</div>
	<div class="col-xs-12">
		<div ng-show="forms.myForm.{{ field.fieldType }}{{ index }}.$invalid && !!forms.myForm.{{ field.fieldType }}{{ index }}.$viewValue " class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign"></span>
			<span ng-if="field.fieldType == 'email'"> {{ 'ERROR_EMAIL_INVALID' | translate }} </span>
			<span ng-if="field.fieldType == 'link'"> {{ 'ERROR_URL_INVALID' | translate }} </span>
		</div>
	</div>
</div>
