<div class="text-field field row">
  <div class="col-xs-12 field-title row-fluid">
		<h3 class="col-xs-12">
			<small class="field-number">
				{{ index+1  }}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>

			{{ field.title }}

  		<small class="optional-label" ng-show="!field.required">
  			({{ 'OPTIONAL' | translate }})
  		</small>
		</h3>

		<p class="col-xs-12 field-description">
			<small>{{ field.description }}</small>
		</p>
	</div>
	<div class="col-xs-12 field-input">
		<textarea type="text"
      class="form-control focusOn"
			ng-model="field.fieldValue"
			ng-model-options="{ debounce: 250 }"
			ng-required="field.required"
			ng-disabled="field.disabled">
		</textarea>
	</div>
</div>
