<div class="yes-no field row">
	<div class="col-xs-12 field-title row-fluid">
		<h3 class="col-xs-12">
			<small class="field-number">
				{{ field.field_number }}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>

			{{ field.title }}
		</h3>

		<p class="col-xs-12 field-description">
			<small>{{ field.description }}</small>
		</p>
	</div>

	<div class="col-xs-12 field-input">
		<label class="switch-light" onclick="">
			<input id="{{ field._id }}"
				type="checkbox"
				class="form-control"
				ng-model="field.fieldValue"
				ng-disabled="field.disabled">
				<span class="alert alert-light" ng-click="setActiveField(field, false)">
					<span><i class="glyphicon glyphicon-remove"></i>{{ 'NO' | translate }}</span>
					<span><i class="glyphicon glyphicon-ok"></i>{{ 'YES' | translate }}</span>
					<a class="btn"></a>
				</span>
		</label>
	</div>
</div>
