<div class="config-form design container">
	<div class="row">
        <div class="col-md-12 container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="hidden-sm hidden-xs">Change how your Form Looks</h2>
                    <h3 class="hidden-lg hidden-md">Change how your Form Looks</h3>
                </div>
            </div>

            <div class="row field">
                <div class="field-title col-sm-3">
                    <h5>Background Color</h5>
                </div>

                <div class="field-input col-sm-9">

                    <input colorpicker="hex" type="text" ng-model="myform.design.colors.backgroundColor" ng-style="{ 'background-color': myform.design.colors.backgroundColor }"/>
                </div>
            </div>

            <div class="row field">
                <div class="field-title col-sm-3">
                    <h5>Question Text Color</h5>
                </div>

                <div class="field-input col-sm-9">

                    <input colorpicker="hex" type="text" ng-model="myform.design.colors.questionColor" ng-style="{ 'background-color': myform.design.colors.questionColor }"/>


                </div>
            </div>

            <div class="row field">
                <div class="field-title col-sm-3">
                    <h5>Answer Text Color</h5>
                </div>

                <div class="field-input col-sm-9">
                    <input colorpicker="hex" type="text" ng-model="myform.design.colors.answerColor" ng-style="{ 'background-color': myform.design.colors.answerColor }"/>
                </div>
            </div>

            <div class="row field">
                <div class="field-title col-sm-3">
                    <h5>Button Background Color</h5>
                </div>

                <div class="field-input col-sm-9">
                    <input colorpicker="hex" type="text" 
                        ng-model="myform.design.colors.buttonColor" 
                        ng-style="{ 'background-color': myform.design.colors.buttonColor }"/>
                </div>
            </div>
            <div class="row field">
                <div class="field-title col-sm-3">
                    <h5>Button Text Color</h5>
                </div>

                <div class="field-input col-sm-9">
                    <input colorpicker="hex" type="text" 
                        ng-model="myform.design.colors.buttonTextColor" 
                        ng-style="{ 'background-color': myform.design.colors.buttonTextColor }"/>
                </div>
            </div>
        </div>
    </div>

	<div class="row">
        <div class="col-sm-offset-4 col-sm-2">
            <button class="btn btn-primary btn-large" type="button" ng-click="update(false, null)"><i class="icon-arrow-left icon-white"></i> Save Changes</button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default" type="button" ng-click="resetForm()"><i class="icon-eye-open icon-white"></i> Cancel</button>
        </div>
	</div>
</div>
